<!DOCTYPE html>
<html >
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title >Majeure MTI à l'Épita</title >
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
    <link rel="stylesheet/less" type="text/css" href="/style/evenements/evenements.less" />
</head >

<body >
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;" >
    <div id="content" >
        <div class="evenements-MTI-Day-container" >
        </div >
    </div >
</div >
<script type="text/javascript" src="/app/lib/jquery.js" ></script >
<script type="text/javascript" src="/app/lib/require.js" ></script >
<script type="text/javascript" src="/app/main.js" ></script >
<script type="text/javascript" src="/app/lib/less.js" ></script >
</body >
</html >