<!DOCTYPE html>
<html >
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title >Majeure MTI à l'Épita</title >
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
    <link rel="stylesheet/less" type="text/css" href="/style/evenements/evenements.less" />
</head >

<body >
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;" >
    <div id="content" >
        <div class="evenements-container" >
            <div class="evenements-msday-container" >
                <div class="evenements-msday-banner1" >
                    <div class="evenements-img_container" >
                        <img src="/resources/images/evenements/evenements-msday1.png" alt="evenements-msday1" />
                    </div >
                    <div class="evenements-content-container" >
                        <div class="description" >
                            <strong >MS Days</strong >

                            <p >
                                Les Microsoft Days sont organisés par certains membres de la MTI désignés comme
                                responsables de la technologie. Organisé sur toute une journée, l’événement offre
                                l’occasion au public de découvrir et redécouvrir les nouveautés Microsoft. Xbox, Windows
                                Mobile, Imagine Cup…
                            </p >

                            <p >
                                Les équipes Microsoft vous proposent des stands couvrant de nombreux thèmes propres à la
                                compagnie de Redmond. De plus, plusieurs conférences sont animées par des intervenants
                                spécialisés et extérieurs à l’école.
                            </p >
                        </div >
                    </div >
                </div >
                <div class="evenements-msday-banner2" >
                    <div class="evenements-img_container" >
                        <img src="/resources/images/evenements/evenements-msday2.png" alt="evenements-msday2" />
                    </div >
                </div >
            </div >
        </div >
    </div >
</div >
<script type="text/javascript" src="/app/lib/jquery.js" ></script >
<script type="text/javascript" src="/app/lib/require.js" ></script >
<script type="text/javascript" src="/app/main.js" ></script >
<script type="text/javascript" src="/app/lib/less.js" ></script >
</body >
</html >