<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Majeure MTI à l'Épita</title>
    <link rel="stylesheet/less" type="text/css" href="/style/main.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/evenements/evenements.less"/>
</head>

<body>
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;">
    <div id="content">
        <div class="events_mti_days">
            <div class="image1_container">
                <img src="/resources/images/evenements/mti_days_01.jpg" alt="Mti days 1"/>
            </div>
            <div class="description">
                <strong>MTI Days</strong>
                <p>
                    Les MTI Days sont l’occasion pour les étudiants de la majeure de présenter au public les projets sur
                    lesquels ils ont travaillé tout au long de l’année. Habituellement organisé en janvier, à la fin du
                    cursus MTI, l’événement permet aux épitéens et à des personnes extérieures à l’école de voir les
                    PLIC
                    (Projet Libre d'Innovation et de Communication) ainsi que les PFEE ou PFE (Projet de Fin d’Études,
                    éventuellement en Entreprise) réalisés par les étudiants. L’occasion est parfaite pour que les
                    étudiants
                    désireux d’intégrer la majeure puisse voir les projets réalisés par les MTI. Généralement,
                    l’événement
                    dure toute la journée, ce qui permet à tout le monde de prendre son temps pour voir l’ensemble des
                    projets.
                </p>
            </div>

            <div class="image2_container">
                <img src="/resources/images/evenements/mti_days_02.jpg" alt="Mti days 2"/>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="/app/lib/jquery.js"></script>
<script type="text/javascript" src="/app/lib/require.js"></script>
<script type="text/javascript" src="/app/main.js"></script>
<script type="text/javascript" src="/app/lib/less.js"></script>
</body>
</html>