<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet/less" type="text/css" href="../../../style/projets/plic/plic-unified.less"/>
</head>
<body>
<div class="slide active">
    <div id="content">
        <div class="plic-content">
            <div class="project-images"></div>
            <div class="project-description">
                <p class="project-description-content">Application web de lecture immersive. Permet de rédiger et lire
                    des
                    histoires seul ou à plusieurs et d’ajouter des thèmes et des ambiances sonores accordés à
                    l’histoire.
                </p>
            </div>
        </div>
    </div>
</body>