<!DOCTYPE html>
<html lang="fr" >
<html >
<head >
    <title >Plic</title >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
</head >
<body >
<div class="slide active" >
    <div id="content" >
        <div class="plic-content" >
            <div class="project-images smartblocks" >
                <img src="/resources/images/projets/plic/smartblocksBlue.png" alt="smartblocks" >
            </div >
            <div class="project-description smartblocks" >
                <p class="project-description-content" >
                    SmartBlocks est un moteur de développement web modulaire. C’est-à-dire qu’il offre un environnement
                    de développement d’écosystème d’applications front-end, exécuté dans une seule page, pour les
                    navigateurs modernes, développées en HTML5.
                </p >
            </div >
        </div >
    </div >
</div >
</body >
</html >