<!DOCTYPE html>
<html lang="fr" >
<html >
<head >
    <title >Plic</title >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
</head >
<body >
<div class="slide active" >
    <div id="content" >
        <div class="plic-content" >
            <div class="project-images" ></div >
            <div class="project-description" >
                <p class="project-description-content" >
                    Application web de lecture immersive. Permet de rédiger et lire des histoires seules ou à plusieurs et
                    d'ajouter des thèmes et des ambiances sonores accordées à l'histoire.
                </p >
            </div >
        </div >
    </div >
</body >
</html >