<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet/less" type="text/css" href="../../../style/projets/plic/plic-unified.less"/>
</head>
<body>
<div class="slide active">
    <div id="content">
        <div class="plic-content">
            <div class="project-images"></div>
            <div class="project-description">
                <p class="project-description-content">Jeu 3D cross-platform de type tower defense réalisé sous Unity
                    3D,
                    jouable sous Windows, Mac et Windows Phone.
                </p>

                <p class="project-description-content">Le but est de jouer en collaboration entre client lourd et mobile
                    afin de nettoyer les vagues ennemies à l’aide de tours élémentaires.
                </p>
            </div>
        </div>
    </div>
</div>
</body>