.evenements-container {
    height: 100%;
    width: 100%;
    background-color: #4fa429;
    color: white;

    .evenements-barbecue-container {
        height: 100%;
        width: 100%; //        display: inline-block;
        .evenements-barbecue-banner1 {
            height: 417px;
        }
        .evenements-barbecue-banner2 {
            height: 100%;
            width: 100%;
            display: inline-block;
            .evenements-img_container {
                width: 310px;
                display: inline-block;
                float: left;
            }
            .evenements-content-container {
                padding: 55px 45px 0px 359px;
                text-align: justify;
            }
        }

        .evenements-img_container {
        }
    }

    .evenements-msday-container {
    }

    .evenements-mtidays-container {

    }
}