.evenements-msday-container {
    height: 100%;
    width: 100%;

    strong {
        font-family: openSansCondBold;
        font-size: 20px;
    }

    p {
        text-align: justify;
    }

    .evenements-img_container1 {
        width: 44.55555%;
        height: 49%;
        overflow: hidden;
    }

    .evenements-img_container2 {
        height: 51%;
        width: 100%;
        overflow: hidden;
    }

    .description {
        float: right;
        width: ~'calc(55.55555% - 92px)';
        height: ~'calc(49% - 50px)';
        line-height: 20px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 40px;
        >p {
            padding-top: 15px;
        }
        p {
            padding-bottom: 15px;
        }
    }
}