.events_mti_days {
  font-family: arimo;
  font-size: 14px;
  color: white;


  strong {
    font-family: openSansCondBold;
    font-size: 20px;
  }

  p {
    padding-top: 10px;
  }
  .description {
    width: 66%;

  }

  .image1_container {
    width: 34%;
    float: right;
  }

  .image1_container {
    width: 100%;
  }
}