.events_mti_days {
  font-family: arimo;
  font-size: 14px;
  color: white;


  strong {
    font-family: openSansCondBold;
    font-size: 20px;
  }


  p {
    text-align: justify;

  }
  .description {
    width: 66.66666%;
    padding-top: 50px;
    line-height: 20px;
    > strong, > p {
      padding: 20px;
    }

  }

  .image1_container {
    width: 33.33333%;
    float: right;
  }

  .image2_container {
    width: 100%;
  }
}