<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Alerte Allergies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css"/>
    <link rel="stylesheet/less" type="text/css" href="/style/main.less"/>
</head>
<body>
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;background: #e59d01;">
    <div id="content">
        <div class="pfee_alerte_allergies pfee_project">
            <div class="pfee_logo">
                <img src="/resources/images/projets/pfee/logos/suez.png"/>
            </div>
            <div class="pfee_text">
                <div class="members">
                    Membres de l’équipe :
                    Julien Fraisse
                    Benoit Vasseur
                    Mickaël Bidon
                    Alexandre Barbier
                </div>
                <div class="presentation">
                    Présentation du projet :
                    SUEZ ENVIRONNEMENT, grand groupe spécialisé dans la gestion de l'eau et des déchets, en particulier
                    pour les collectivités, et donc à ce titre hautement concerné par l'ouverture des données. Le thème
                    abordé dans le projet est la cartographie temps réel des zones à risque pour les personnes
                    allergiques.

                    L'enjeu pour les personnes allergiques est d'identifier les lieux et les jours à risque. Il s'agit
                    alors de concevoir l'application mobile permettant de recenser les espaces dits à risques (espaces
                    verts) et d'indiquer lorsque l'on dépasse des seuils d'alerte.

                    Les étudiants ont développé une application mobile « Alerte Allergies » Android géolocalisant
                    l’utilisateur et lui permettant d’être alerté en cas de danger pollinique ou lors de l’approche
                    d’une zone à risque, et également de suivre ses réactions allergiques.
                </div>
                <div class="contact">
                    Contact:
                    Fanny MAESTRACCI
                    Fanny.MAESTRACCI@suez-env.com
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/app/lib/jquery.js"></script>
<script type="text/javascript" src="/app/lib/require.js"></script>
<script type="text/javascript" src="/app/main.js"></script>
<script type="text/javascript" src="/app/lib/less.js"></script>
<script src="/app/lib/hyphenate.js" type="text/javascript">
</script>
</body>
</html>