<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Daily Agri</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css"/>
    <link rel="stylesheet/less" type="text/css" href="/style/main.less"/>
</head>
<body>
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;background: #e59d01;">
    <div id="content">
        <div class="pfee_daily_agri pfee_project">
            <div class="pfee_logo">
                <img alt="Logo PFEE daily agri" src="/resources/images/projets/pfee/logos/place-de-l-immobilier.png"/>
            </div>
            <div class="pfee_text">

                <div class="members">
                    <strong>Membres de l’équipe</strong>
                    <ul>
                        <li>Michael Denoun</li>
                        <li>Guillaume Algis</li>
                        <li>Quentin Fapdepr</li>
                    </ul>
                </div>
                <div class="contact">
                    <strong>Contact</strong>
                    <ul>
                        <li>Antoine Van De Velde<br/><em>antoine@dailyagri.com</em></li>
                    </ul>
                </div>
                <div class="presentation">
                    <strong>Description</strong>

                    <p>
                        DailyAgri développe aujourd’hui un moteur de recherche hyperspécialisé dans les thématiques
                        agricoles, agronomiques, et environnementales.
                        Présentation du projet :
                        Conception d’un outil favorisant la mise en relation entre agriculteurs souhaitant échanger des
                        parcelles entre eux.
                    </p>

                    <p>
                        L’échange de parcelles est déjà pratiqué, essentiellement entre agriculteurs voisins, mais un
                        grand
                        nombre d’entre eux souhaiteraient aller plus loin, reconnaissant qu’un échange de parcelles
                        améliorerait leur parcellaire.
                    </p>

                    <p>
                        L’exploitation des Registres Parcellaires Graphiques (RPG) récemment accessibles sur
                        data.gouv.fr
                        permettra de bâtir un outil SIG ouvert, où chacun pourra répertorier tous les contours des
                        parcelles
                        (ou îlots culturaux) par département et ainsi d’établir une base de données facilitant les
                        relations
                        entre « échangeurs » de parcelles. Le projet des étudiants est un site béta permettant
                        d’afficher
                        les parcelles sur une carte de France et une recherche de parcelles disponible et une mise en
                        relation avec le propriétaire.
                    </p>

                    <p>
                        <a href="http://dailyagri.com/map/" target="_blank">Voir la vidéo de présentation sur le site de
                            Daily Agri</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/app/lib/jquery.js"></script>
<script type="text/javascript" src="/app/lib/require.js"></script>
<script type="text/javascript" src="/app/main.js"></script>
<script type="text/javascript" src="/app/lib/less.js"></script>
<script src="/app/lib/hyphenate.js" type="text/javascript">
</script>
</body>
</html>