<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Place de l'immobilier</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css"/>
    <link rel="stylesheet/less" type="text/css" href="/style/main.less"/>
</head>
<body>
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;background: #e59d01;">
    <div id="content">
        <div class="pfee_place_immobilier pfee_project">
            <div class="pfee_logo">
                <img alt="Logo PFEE place de l'immobilier"
                     src="/resources/images/projets/pfee/logos/place-de-l-immobilier.png"/>
            </div>
            <div class="pfee_text">
                <div class="members">
                    <strong>Membres de l’équipe</strong>
                    <ul>
                        <li>Michael Denoun</li>
                        <li>Guillaume Algis</li>
                        <li>Quentin Fapdepr</li>
                    </ul>
                </div>
                <div class="contact">
                    <strong>Contact</strong>
                    <ul>
                        <li>Thomas SOARES<br/><em>Associé tsoares@hbs-research.com</em></li>
                    </ul>
                </div>
                <div class="presentation">
                    <strong>Présentation du projet</strong>

                    <p>
                        La Place de l'Immobilier Pro, le 1er site Internet recensant tous les immeubles
                        (http://www.laplacedelimmobilier-pro.com), édité par HBS Research, est une plateforme
                        cartographique
                        qui permet de gérer de l’information privative à l’immeuble mais aussi intègre des bases de
                        données
                        permettant de décrire l'exhaustivité des immeubles en France : propriété, entreprises
                        occupantes,
                        valeurs de transactions publiées, offres, photos des immeubles mais aussi éléments d'urbanisme
                        (cadastre, PLU, zones de pollution du sol, PPRI, anciennes carrières...).
                    </p>

                    <p>
                        Le projet des étudiants a consisté à créer une application mobile (iOS et Android), permettant
                        l’accès aux données de La Place De l’Immobilier. L’application développée permet d’accéder au
                        moteur
                        de recherche, via un accès simplifié sur mobile. L'application résultant de ce projet allie un
                        design épuré avec une facilité d'utilisation et d'accès aux données, sur smartphones et
                        tablettes
                        Android comme sur iPhone/iPad.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/app/lib/jquery.js"></script>
<script type="text/javascript" src="/app/lib/require.js"></script>
<script type="text/javascript" src="/app/main.js"></script>
<script type="text/javascript" src="/app/lib/less.js"></script>
<script src="/app/lib/hyphenate.js" type="text/javascript">
</script>
</body>
</html>