<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Présentation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Majeure MTI à l'Épita</title>
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css"/>
    <link rel="stylesheet/less" type="text/css" href="/style/main.less"/>
</head>
<body>
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;background: #e59d01;">
    <div id="content">
        <div class="pfee_planning">
            <div class="pure-g">
                <div class="pure-u-1-2 column_a">
                    <div class="hyphenate">
                        <div class="content_section">
                            La mise en place des PFEE se déroule en plusieurs étapes :
                        </div>
                        <div class="content_section">
                            À partir du mois de février, jusqu'au mois de mars, l'école lance un appel à projet auprès
                            des
                            entreprises.
                        </div>
                        <div class="content_section">
                            À partir de Juin, les projets sont présentés aux étudiants. Ces derniers constituent alors
                            des
                            équipes, qui seront chargées de défendre leur candidature pour obtenir le projet qui les
                            intéresse.
                        </div>
                        <div class="content_section">
                            <img src="/resources/images/projets/pfee/pfee_planning_bottom.png"/>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-2 column_b">
                    <div class="hyphenate">
                        <div class="content_section">
                            <img src="/resources/images/projets/pfee/pfee_planning_top.png"/>
                        </div>
                        <div class="content_section">
                            Au mois de mars, un comité sélectionne les projets en rapport avec la thématique de l'année.
                        </div>
                        <div class="content_section">
                            Enfin, lors de la journée de lancement, les entreprises attribuent les projets à l'équipe de
                            leur choix. C'est le début des partenariats entre les étudiants et les entreprises.
                        </div>
                        <div class="content_section">
                            Les projets réalisés au cours de l'année sont ensuite présentés lors du MTI Day. Cette
                            journée
                            est consacrée à la présentation et à la communication des projets de fin d'étude de la
                            majeure
                            MTI qui ont été réalisé.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/app/lib/jquery.js"></script>
<script type="text/javascript" src="/app/lib/require.js"></script>
<script type="text/javascript" src="/app/main.js"></script>
<script type="text/javascript" src="/app/lib/less.js"></script>
<script src="/app/lib/hyphenate.js" type="text/javascript">
</script>
</body>
</html>