<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Présentation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Majeure MTI à l'Épita</title>
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css"/>
    <link rel="stylesheet/less" type="text/css" href="/style/main.less"/>
</head>
<body>
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;background: #e59d01;">
    <div id="content">
        <div class="pfee_presentation ">
            <div class="presentation_text hyphenate">
                <p>
                    Le PFEE, ou projets de fin d’études en entreprise, est un projet que les
                    étudiants de MTI réalisent en partenariat avec une entreprise. Ce projet recoupe
                    les différentes problématiques que l'on peut rencontrer au cours d'un projet dans le
                    monde de l'entreprise.
                </p>
                <p>
                    Plusieurs évènements marquent les différentes étapes du déroulement du projet. De nombreux aspects
                    doivent être pris en compte et travaillés par les étudiants, comme la gestion du projet grâce à une
                    méthodologie adaptée, la relation avec le client, la rédaction de documents de qualité
                    (spécifications, documentations, etc.) et le développement technique.
                </p>
            </div>
            <div class="right_image"></div>
            <div class="bottom_image"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/app/lib/jquery.js" ></script >
<script type="text/javascript" src="/app/lib/require.js" ></script >
<script type="text/javascript" src="/app/main.js" ></script >
<script type="text/javascript" src="/app/lib/less.js" ></script >
<script src="/app/lib/hyphenate.js" type="text/javascript">
</script>
</body>
</html>