<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Virtuel City</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css"/>
    <link rel="stylesheet/less" type="text/css" href="/style/main.less"/>
</head>
<body>
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;background: #e59d01;">
    <div id="content">
        <div class="pfee_virtuel_city pfee_project">
            <div class="pfee_logo">
                <img alt="Logo PFEE Virtuel City" src="/resources/images/projets/pfee/logos/virtuel-city.png"/>
            </div>
            <div class="pfee_text">
                <div class="members">
                    <strong>Membres de l’équipe</strong>
                    <ul>
                        <li>Grégoire Bouchetoun</li>
                        <li>Francis Pan</li>
                        <li>F. Migeot de Baran</li>
                    </ul>
                </div>
                <div class="contact">
                    <strong>Contact</strong>
                    <ul>
                        <li>
                            Fabrice Morlet
                            <br/>
                            <em>+33 6 22 38 49 48</em>

                        </li>
                        <li>
                            <a href="www.virtuelcity.com">www.virtuelcity.com</a>
                        </li>
                    </ul>
                </div>
                <div class="presentation">
                    <strong>Présentation du projet</strong>

                    <p>
                        Leader français, la société VirtuelCity est spécialisée dans la modélisation 3D automatique de
                        cartes géographiques et leur diffusion en temps réel.
                    </p>

                    <p>
                        Le projet consiste à l’intégration de données open data pour enrichir la visualisation 3D, et
                        ceci
                        en temps réel. Les informations choisies prise en compte dans cette première version sont: la
                        météo,
                        l’occupation des parkings et la disponibilité de Vélibs. Et tout ceci, aussi bien sur PC que sur
                        tablette. Le développement a aussi consisté en un socle technique côté serveur, solide et
                        évolutif,
                        permettant d’intégrer facilement d’autres jeux de données.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/app/lib/jquery.js"></script>
<script type="text/javascript" src="/app/lib/require.js"></script>
<script type="text/javascript" src="/app/main.js"></script>
<script type="text/javascript" src="/app/lib/less.js"></script>
<script src="/app/lib/hyphenate.js" type="text/javascript">
</script>
</body>
</html>