<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Volley me</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css"/>
    <link rel="stylesheet/less" type="text/css" href="/style/main.less"/>
</head>
<body>
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;background: #e59d01;">
    <div id="content">
        <div class="pfee_volley_me pfee_project">
            <div class="pfee_logo">
                <img src="/resources/images/projets/pfee/logos/volleyme.png"/>
            </div>
            <div class="pfee_text">
                <div class="members">
                    Membres de l’équipe :
                    Benjamin Hamon
                    Samir Houari
                    Antoine Fournier
                </div>
                <div class="presentation">
                    Présentation du projet :
                    Le projet est une application VolleyMe pour Windows Phone.
                    VolleyMe est un réseau social destiné aux sportifs et aux fédérations de sport.
                    Il permet de suivre les joueurs, équipes et championnats, d'échanger sur les résultats et d'accéder
                    à des informations pratiques sur les matchs. Plus précisément, l’utilisateur peut accéder à :

                    - l'agenda des matchs
                    - le résultat de ses matchs et de ceux de ses adversaires
                    - la localisation des installations sportives (données de l'open data)
                    - la fiche équipe et joueur
                    - le mur de l'équipe

                </div>
                <div class="contact">
                    Contact:
                    Sylvain Chevet
                    sylvain.chevet@id-sport.fr
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/app/lib/jquery.js"></script>
<script type="text/javascript" src="/app/lib/require.js"></script>
<script type="text/javascript" src="/app/main.js"></script>
<script type="text/javascript" src="/app/lib/less.js"></script>
<script src="/app/lib/hyphenate.js" type="text/javascript">
</script>
</body>
</html>