.faq-container {
    height: 100%;
    width: 100%;
    background-color: #d84999;
    color: white;

    .pure-g-r {
        height: 100%;
    }

    .faq-question-container {
        padding-left: 50px;
        padding-bottom: 0px;
        width: 380px;
        text-align: justify;

        .faq-number {
            font-family: arimoBold;
            font-size: 75px;
            margin-left: 50px; //            opacity: 0.5;
            color: #ecb3d0;
        }

        .faq-question-content {
            margin-bottom: 13px;

            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            -o-hyphens: auto;
            hyphens: auto;
        }
    }

    &.two-elements {
        .pure-u-1-2 {
            height: 100%;
        }
        .faq-question-container {
            padding-top: 13%;
        }
    }
    &.three-elements {
        .pure-u-1-2 {
            height: 100%;
            padding-top: 20px;
        }

        .faq-column2 {
            padding-top: 21%;
        }
    }
}