
#header {
  margin: auto;
  height: @header-height;
  width: @site-width; //background: url(/resources/topmenusprite.png) 20px 30px;

  #logo {
    float: left;
    display: block;
    width: 216px;
    height: @header-height;
    background: url(/resources/topmenusprite.png) 0 0;

    &:hover {
      background: url(/resources/topmenusprite.png) 0 -310px;
    }
  }

  .text {
    color: rgba(255, 255, 255, 0.1);
    font-size: 9px;
    clear: left;
    display: block;
    text-align: center;
    &.active {
      color: white;
    }
  }

  li {
    float: left;

    a {
      position: relative;
      display: block;
      height: 107px;
      float: left;



      &.presentation {
        width: 87px;
        background: url(/resources/topmenusprite.png) -216px 0px;
        &:hover {
          background: url(/resources/topmenusprite.png) -216px -310px;
        }
        &.active {
          background-position: -216px -155px;
        }
      }

      &.cours1 {
        width: 78px;
        background: url(/resources/topmenusprite.png) -303px 0px;
        &:hover {
          background: url(/resources/topmenusprite.png) -303px -310px;
        }
        &.active {
          background-position: -303px -155px;
        }
      }

      &.cours2 {
        width: 32px;
        background: url(/resources/topmenusprite.png) -381px 0px;
        &:hover {
          background: url(/resources/topmenusprite.png) -381px -310px;
        }
        &.active {
          background-position: -381px -155px;
        }
      }

      &.projets1 {
        width: 60px;
        background: url(/resources/topmenusprite.png) -413px 0px;
        &:hover {
          background: url(/resources/topmenusprite.png) -413px -310px;
        }
        &.active {
          background-position: -413px -155px;
        }
      }
      &.projets2 {
        width: 47px;
        background: url(/resources/topmenusprite.png) -473px 0px;
        &:hover {
          background: url(/resources/topmenusprite.png) -473px -310px;
        }
        &.active {
          background-position: -473px -155px;
        }
      }

      &.projets3 {
        width: 55px;
        background: url(/resources/topmenusprite.png) -520px 0px;
        &:hover {
          background: url(/resources/topmenusprite.png) -520px -310px;
        }
        &.active {
          background-position: -520px -155px;
        }
      }

      &.debouches {
        width: 91px;
        background: url(/resources/topmenusprite.png) -575px 0px;
        &:hover {
          background: url(/resources/topmenusprite.png) -575px -310px;
        }
        &.active {
          background-position: -575px -155px;
        }
      }

      &.profs {
        width: 99px;
        background: url(/resources/topmenusprite.png) -665px 0px;
        &:hover {
          background: url(/resources/topmenusprite.png) -665px -310px;
        }
        &.active {
          background-position: -665px -155px;
        }
      }

      &.events1 {
        width: 57px;
        background: url(/resources/topmenusprite.png) -763px 0px;
        &:hover {
          background: url(/resources/topmenusprite.png) -763px -310px;
        }
        &.active {
          background-position: -763px -155px;
        }
      }

      &.events2 {
        width: 34px;
        background: url(/resources/topmenusprite.png) -820px 0px;
        &:hover {
          background: url(/resources/topmenusprite.png) -820px -310px;
        }
        &.active {
          background-position: -820px -155px;
        }
      }

      &.events3 {
        width: 45px;
        background: url(/resources/topmenusprite.png) -854px 0px;
        &:hover {
          background: url(/resources/topmenusprite.png) -854px -310px;
        }
        &.active {
          background-position: -854px -155px;
        }
      }

      &.faq {
        width: 78px;
        background: url(/resources/topmenusprite.png) -898px 0px;
        &:hover {
          background: url(/resources/topmenusprite.png) -898px -310px;
        }
        &.active {
          background-position: -898px -155px;
        }
      }



    }


  }

}