@import "reset";
@import "fonts";

@site-width: 980px;
@header-height: 155px;
html {
    height: 100%;
    body {
        font-size: 16px;
        font-family: arimo;
        background: #1E2122;
        overflow-x: hidden;
        height: 100%;

    @import "header";
    @import "slide";
    @import "presentation/presentation";
    @import "carousel/carousel";
    @import "debouches/debouches";
    @import "faq/faqSlider";
    @import "evenements/evenements";

        #container {
            width: 100%;
            height: 100%;

            #slides {
                width: 2000px;
                margin-left: ~"calc(50% - 495px)";
                height: ~"calc(100% - @{header-height})";

                #slides_container {
                    height: 100%;
                    position: relative;
                }
            }
        }
    }

    .clearer {
        clear: both;
    }
}
