html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: arimo;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: arimo;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: arimo;
    src: url(fonts/Arimo-Regular.ttf);
}

@font-face {
    font-family: arimoBold;
    src: url(fonts/Arimo-Bold.ttf);
}

@font-face {
    font-family: opensans;
    src: url(fonts/OpenSans-CondLight.ttf);
}

@font-face {
    font-family: opensansregular;
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: openSansCondBold;
    src: url(fonts/OpenSans-CondBold.ttf);
}

html {
    height: 100%;
}

html body {
    font-size: 16px;
    font-family: arimo;
    background: #1E2122;
    overflow-x: hidden;
    height: 100%;
}

html body #header {
    margin: auto;
    height: 120px;
    width: 980px;
}

html body #header a {
    outline: 0;
}

html body #header #logo {
    float: left;
    display: block;
    width: 216px;
    height: 120px;
    background: url(/resources/topmenusprite.png) 0 -21px no-repeat;
}

html body #header #logo:hover {
    background: url(/resources/topmenusprite.png) 0 -331px no-repeat;
}

html body #header .text {
    color: rgba(255, 255, 255, 0.1);
    font-size: 9px;
    clear: left;
    display: block;
    text-align: center;
}

html body #header .text.active {
    color: white;
}

html body #header li {
    float: left;
}

html body #header li a {
    position: relative;
    display: block;
    height: 87px;
    float: left;
}

html body #header li a.presentation {
    width: 87px;
    background: url(/resources/topmenusprite.png) -216px -21px;
}

html body #header li a.presentation:hover {
    background: url(/resources/topmenusprite.png) -216px -331px;
}

html body #header li a.presentation.active {
    background-position: -216px -176px;
}

html body #header li a.cours1 {
    width: 78px;
    background: url(/resources/topmenusprite.png) -303px -21px;
}

html body #header li a.cours1:hover {
    background: url(/resources/topmenusprite.png) -303px -331px;
}

html body #header li a.cours1.active {
    background-position: -303px -176px;
}

html body #header li a.cours2 {
    width: 32px;
    background: url(/resources/topmenusprite.png) -381px -21px;
}

html body #header li a.cours2:hover {
    background: url(/resources/topmenusprite.png) -381px -331px;
}

html body #header li a.cours2.active {
    background-position: -381px -176px;
}

html body #header li a.projets1 {
    width: 60px;
    background: url(/resources/topmenusprite.png) -413px -21px;
}

html body #header li a.projets1:hover {
    background: url(/resources/topmenusprite.png) -413px -331px;
}

html body #header li a.projets1.active {
    background-position: -413px -176px;
}

html body #header li a.projets2 {
    width: 47px;
    background: url(/resources/topmenusprite.png) -473px -21px;
}

html body #header li a.projets2:hover {
    background: url(/resources/topmenusprite.png) -473px -331px;
}

html body #header li a.projets2.active {
    background-position: -473px -176px;
}

html body #header li a.projets3 {
    width: 55px;
    background: url(/resources/topmenusprite.png) -520px -21px;
}

html body #header li a.projets3:hover {
    background: url(/resources/topmenusprite.png) -520px -331px;
}

html body #header li a.projets3.active {
    background-position: -520px -176px;
}

html body #header li a.debouches {
    width: 91px;
    background: url(/resources/topmenusprite.png) -575px -21px;
}

html body #header li a.debouches:hover {
    background: url(/resources/topmenusprite.png) -575px -331px;
}

html body #header li a.debouches.active {
    background-position: -575px -176px;
}

html body #header li a.profs {
    width: 99px;
    background: url(/resources/topmenusprite.png) -665px -21px;
}

html body #header li a.profs:hover {
    background: url(/resources/topmenusprite.png) -665px -331px;
}

html body #header li a.profs.active {
    background-position: -665px -176px;
}

html body #header li a.events1 {
    width: 57px;
    background: url(/resources/topmenusprite.png) -763px -21px;
}

html body #header li a.events1:hover {
    background: url(/resources/topmenusprite.png) -763px -331px;
}

html body #header li a.events1.active {
    background-position: -763px -176px;
}

html body #header li a.events2 {
    width: 34px;
    background: url(/resources/topmenusprite.png) -820px -21px;
}

html body #header li a.events2:hover {
    background: url(/resources/topmenusprite.png) -820px -331px;
}

html body #header li a.events2.active {
    background-position: -820px -176px;
}

html body #header li a.events3 {
    width: 45px;
    background: url(/resources/topmenusprite.png) -854px -21px;
}

html body #header li a.events3:hover {
    background: url(/resources/topmenusprite.png) -854px -331px;
}

html body #header li a.events3.active {
    background-position: -854px -176px;
}

html body #header li a.faq {
    width: 78px;
    background: url(/resources/topmenusprite.png) -898px -21px;
}

html body #header li a.faq:hover {
    background: url(/resources/topmenusprite.png) -898px -331px;
}

html body #header li a.faq.active {
    background-position: -898px -176px;
}

html body .slide {
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -kthtml-transition: all 500ms ease-in-out;
    overflow: hidden;
    opacity: 0.7;
    cursor: pointer;
    width: 940px;
    float: left;
    margin-left: 26px;
    height: calc(100% -15px);
    max-height: 815px;
    width: 940px;
    height: 825px;
}

html body .slide.active {
    opacity: 1;
    cursor: default;
}

html body .slide .content {
    height: 100%;
}

html body .slide .slide-title {
    font-family: openSansCondBold;
    padding-bottom: 12px;
    font-size: 22px;
}

html body .slide .pfee_presentation {
    position: relative;
}

html body .slide .pfee_presentation .presentation_text {
    margin-top: 15px;
    margin-left: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    text-align: justify;
    word-wrap: break-word;
    text-overflow: ellipsis;
    width: 271px;
    float: left;
    width: calc(41% -10px);
}

html body .slide .pfee_presentation .presentation_text p {
    margin-bottom: 40px;
    width: calc(100% -15px);
}

html body .slide .pfee_presentation .right_image {
    width: 69%;
    margin-left: 41%;
    height: 420px;
    background: url(/resources/images/projets/pfee/pfee_pres_top.png);
}

html body .slide .pfee_presentation .bottom_image {
    width: 100%;
    height: 404px;
    background: url(/resources/images/projets/pfee/pfee_pres_botom.png);
}

html body .slide .pfee_planning .column_a .content_section {
    padding-right: 50px;
}

html body .slide .pfee_planning .column_b .content_section {
    padding-left: 50px;
}

html body .slide .pfee_planning .content_section {
    padding-right: 20px;
    padding-top: 30px;
    height: 132px;
    text-align: justify;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: arimo;
    color: white;
}

html body .slide .pfee_planning .content_section.title {
    font-family: openSansCondBold;
    font-size: 20px;
}

html body .slide .pfee_planning .content_section.image {
    padding-right: 0;
    padding-top: 0;
    height: 205px;
    width: 100%;
}

html body .slide .pfee_project {
    height: 100%;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

html body .slide .pfee_project strong {
    font-size: 20px;
    font-family: openSansCondBold;
    color: white;
}

html body .slide .pfee_project em {
    font-style: italic;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

html body .slide .pfee_project .pfee_logo {
    width: 100%;
    height: 300px;
    background: white;
    text-align: center;
    line-height: 300px;
}

html body .slide .pfee_project .pfee_logo img {
    padding-top: 20px;
}

html body .slide .pfee_project .pfee_text {
    line-height: 17px;
    font-weight: 100;
    padding: 10px;
}

html body .slide .pfee_project .pfee_text a {
    font-weight: bold;
    text-decoration: none;
    color: #3b3b3b;
}

html body .slide .pfee_project .pfee_text a:hover {
    color: #595a5b;
}

html body .slide .pfee_project .pfee_text p {
    margin-bottom: 10px;
}

html body .slide .pfee_project .pfee_text .members {
    width: 50%;
    float: left;
    height: 100px;
}

html body .slide .pfee_project .pfee_text .members li {
    float: left;
    width: 150px;
    height: 30px;
    background: rgba(255, 254, 253, 0.5);
    color: #323233;
    line-height: 30px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
}

html body .slide .pfee_project .pfee_text .contact {
    float: right;
    width: 50%;
    height: 100px;
}

html body .slide .pfee_project .pfee_text .presentation ul {
    list-style: disc;
    padding-left: 20px;
}

html body .slide .projets-container {
    background-color: #e69d02;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 14px;
}

html body .slide .projets-container > div {
    padding-top: 20px;
}

html body .slide .projets-container p {
    margin-top: 6px;
    margin-right: 20px;
    text-align: justify;
}

html body .slide .projets-container ul.text_list {
    margin-left: 20px;
    line-height: 10px;
}

html body .slide .projets-container ul.text_list li {
    list-style: disc;
    padding-left: 15px;
}

html body .slide .projets-container .logo_container {
    position: absolute;
    width: 100%;
    background: white;
    text-align: center;
    margin-top: 8%;
}

html body .slide .projets-container .general_project {
    font-size: 16px;
    line-height: 22px;
}

html body .slide .projets-container .general_project li {
    margin-top: 15px;
}

html body .slide .projets-container .general_project .project-name {
    font-family: openSansCondBold;
    padding-bottom: 12px;
    font-size: 22px;
}

html body .slide .projets-container .general_project #socialmusic {
    float: right;
    width: 50%;
}

html body .slide .projets-container .general_project #happyhour {
    float: left;
    width: 50%;
}

html body .slide .projets-container .general_project #happyhour-container {
    float: left;
    width: 100%;
    margin-top: 20px;
}

html body .slide .projets-container .general_project #youtubeviewer ul.text_list {
    line-height: 16px;
}

html body .slide .projets-container .general_project #mtimusic {
    float: left;
    width: 50%;
}

html body .slide .menu_slide {
    height: 100%;
}

html body .slide .menu_slide .left_menu {
    width: 225px;
    height: 100%;
    float: left;
}

html body .slide .menu_slide .left_menu .page_title {
    margin-bottom: 5px;
    height: 48px;
    line-height: 48px;
    padding-left: 10px;
    text-decoration: none;
    font-size: 25px;
    font-family: openSansCondBold;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

html body .slide .menu_slide .left_menu .menu_button {
    margin-bottom: 5px;
}

html body .slide .menu_slide .left_menu .menu_button a {
    display: block;
    height: 48px;
    line-height: 48px;
    padding-left: 10px;
    text-decoration: none;
    font-size: 17px;
    font-family: openSansCondBold;
    color: black;
    background: rgba(255, 255, 255, 0.25);
}

html body .slide .menu_slide .left_menu .menu_button a:hover {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

html body .slide .menu_slide .left_menu .menu_button a.selected {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.75);
}

html body .slide .menu_slide .menu_slide_content {
    width: calc(100% -245px);
    margin-left: 245px;
    height: 100%;
}

html body .slide .plic-content {
    background-color: #828282;
    width: 100%;
    height: 100%;
    position: relative;
}

html body .slide .plic-content .project-images {
    background-color: #828282;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

html body .slide .plic-content .project-images.smartblocks {
    background-color: #ffffff;
}

html body .slide .plic-content .project-description {
    position: absolute;
    right: 3%;
    top: 10%;
    width: 300px;
}

html body .slide .plic-content .project-description .project-description-content {
    color: #ffffff;
    font-size: 14pt;
}

html body .slide .plic-content .project-description.smartblocks {
    position: absolute;
    width: 320px;
    left: 385px;
    top: 25px;
}

html body .slide .plic-content .project-description.smartblocks .project-description-content {
    color: black;
}

html body .slide .plic-content .project-description.dastan {
    position: absolute;
    width: 330px;
    left: 412px;
    top: 25px;
}

html body .slide .plic-content .project-description.dastan .project-description-content {
    color: #ffffff;
}

html body .slide .cours {
    padding-top: 20px;
    color: white;
}

html body .slide .cours .content {
    background-color: #eac501;
    float: left;
    padding-left: 5px;
}

html body .slide .cours .matter-texts {
    float: right;
    padding-right: 20px;
    width: calc(100% -115px);
    text-align: justify;
    font-family: arimo;
    font-style: bold;
    font-size: 14px;
}

html body .slide .cours .matter-image {
    float: left;
}

html body .slide .cours .matter {
    float: left;
    width: 100%;
}

html body .slide .cours ul {
    list-style-type: none;
}

html body .slide .cours li {
    margin-bottom: 10px;
}

html body .slide .cours .matter-title {
    font-weight: bold;
    font-family: openSansCondBold;
    font-size: 20px;
}

html body .slide .cours .matter-image {
    height: 80px;
    width: 80px;
    background: white;
    overflow: hidden;
    text-align: center;
    border-right: 5px solid #b94a48;
}

html body .slide .cours .matter-image.default {
    background: rgba(255, 255, 255, 0.5);
}

html body .slide .cours .matter-image img {
    width: 95%;
    height: 95%;
    padding: 2%;
}

html body .slide .cours .matter-description {
    margin-top: 5px;
}

html body .slide .prof_cyril_reinhard {
    width: 100%;
    height: 100%;
    background: url(/resources/images/profs/cyril.jpg);
    background-position: center;
    position: relative;
}

html body .slide .prof_cyril_reinhard .teacher_info {
    position: absolute;
    padding: 15px;
    background: #f45b25;
    color: white;
    font-size: 14px;
    width: 420px;
    right: 0px;
    line-height: 20px;
}

html body .slide .prof_cyril_reinhard .teacher_info .title {
    font-family: openSansCondBold;
    font-size: 20px;
}

html body .presentation-container {
    height: 100%;
    width: 100%;
    background-color: #601a85;
    color: white;
}

html body .presentation-container .banner1 {
    height: 24%;
    display: inline-block;
}

html body .presentation-container .banner1 .text-block strong {
    font-family: openSansCondBold;
    font-size: 22px;
}

html body .presentation-container .banner1 .text-block p {
    text-align: justify;
    line-height: 23px;
    margin-top: 12px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

html body .presentation-container .banner1 .presentation-img_container {
    height: 100%;
    width: 34%;
    float: right;
    position: relative;
    overflow: hidden;
}

html body .presentation-container .banner1 .presentation-img_container img {
    position: absolute;
    left: ~ "calc(50% - 207px)";
}

html body .presentation-container .presentation-banner2 .slide-title {
    margin: auto;
    text-align: center;
    margin-top: 18px;
    line-height: 31px;
    font-size: 24px;
}

html body .presentation-container .presentation-banner2 .block1 {
    height: 105px;
    background-color: #af8cc1;
}

html body .presentation-container .presentation-banner2 .block2 {
    height: 105px;
    background-color: #9465ad;
}

html body .presentation-container .presentation-banner2 .block3 {
    height: 105px;
    background-color: #773c97;
}

html body .presentation-container .presentation-banner3 {
    height: 210px;
}

html body .presentation-container .presentation-banner3 .pure-u-1-3 {
    height: 100%;
}

html body .presentation-container .presentation-banner3 img {
    height: 100%;
    width: 100%;
}

html body .presentation-container .presentation-banner4 {
    height: 306px;
}

html body .presentation-container .presentation-banner4 .text-block {
    padding: 35px 30px;
    text-align: justify;
    line-height: 20px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

html body .presentation-container .presentation-banner4 .text-block .presentation-content {
    margin-bottom: 8%;
}

html body .presentation-container .presentation-banner4 .pure-u-3-5 {
    height: 100%;
    width: 56%;
}

html body .presentation-container .presentation-banner4 .pure-u-2-5 {
    height: 100%;
    width: 44%;
}

html body .presentation-container .presentation-banner4 .pure-u-2-5 .text-block {
    padding: 6%;
}

html body .presentation-container .presentation-img_container {
    height: 100%;
    overflow: hidden;
}

html body .carousel {
    position: relative;
    line-height: 1;
    height: 100%;
    width: 100%;
}

html body .carousel ul,
html body .carousel ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

html body .carousel .carousel-index-indicators {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 5;
    margin: 0;
    list-style: none;
}

html body .carousel .carousel-index-indicators li {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    text-indent: -999px;
    background-color: #ccc;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}

html body .carousel .carousel-index-indicators li:hover {
    background-color: #fff;
    opacity: 0.5;
    cursor: pointer;
}

html body .carousel .carousel-index-indicators .active {
    background-color: #fff;
}

html body .carousel .carousel-inner-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

html body .carousel .carousel-inner-content .itemTransitional {
    width: 100%;
    height: 100%;
}

html body .carousel .carousel-inner-content .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}

html body .carousel .carousel-inner-content .item.active {
    left: 0;
    display: block;
}

html body .carousel .carousel-inner-content .item img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

html body .carousel .carousel-control {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 35px;
    height: 35px;
    margin-top: -20px;
    font-size: 55px;
    font-weight: 100;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
}

html body .carousel .carousel-control:hover {
    opacity: 0.8;
    cursor: pointer;
}

html body .carousel .carousel-control.right {
    right: 15px;
    left: auto;
}

html body .carousel .carousel-control.vertical {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation = 1.125);
    -ms-transform: rotate(90deg);
}

html body .carousel .carousel-control.top {
    left: 50%;
    top: 25px;
    bottom: auto;
}

html body .carousel .carousel-control.bottom {
    left: 50%;
    top: auto;
    bottom: 10px;
}

html body .carousel a {
    text-decoration: none;
}

html body .debouches-container {
    height: 100%;
    width: 100%;
    background-color: #0573fc;
}

html body .debouches-container .carousel .debouches-careers {
    margin-top: calc(47% -420px);
    height: 100%;
}

html body .debouches-container .carousel .debouches-careers .responsive-container {
    margin: 12%;
}

html body .debouches-container .carousel .debouches-careers .debouches-careers-img_container {
    height: 90%;
}

html body .debouches-container .carousel .debouches-employers {
    height: 100%;
}

html body .debouches-container .carousel .debouches-employers .debouches-employers-texts .responsive-container {
    margin-top: 25%;
    margin-left: 15%;
}

html body .debouches-container .debouches-careers {
    width: 100%;
    color: white;
    display: inline-block;
    height: 50%;
}

html body .debouches-container .debouches-careers .debouches-careers-texts {
    display: inline-block;
    width: 44.5%;
    height: 100%;
}

html body .debouches-container .debouches-careers .debouches-careers-img_container {
    display: inline-block;
    float: right;
    height: 100%;
    width: 55%;
    overflow: hidden;
}

html body .debouches-container .debouches-employers {
    width: 100%;
    color: white;
    display: inline-block;
    height: 50%;
}

html body .debouches-container .debouches-employers .debouches-employers-texts {
    display: inline-block;
    float: left;
    width: 44%;
    height: 100%;
}

html body .debouches-container .debouches-employers .debouches-careers-img_container {
    display: inline-block;
    float: left;
    height: 100%;
    width: 55.3%;
    background-color: white;
    position: relative;
    overflow: hidden;
}

html body .debouches-container .debouches-employers .debouches-careers-img_container img {
    position: absolute;
    top: calc(50% -202px);
}

html body .debouches-container .debouches-inner_content {
    padding-left: 85px;
    padding-bottom: 26px;
    line-height: 26px;
}

html body .faq-container {
    height: 100%;
    width: 100%;
    background-color: #d84999;
    color: white;
}

html body .faq-container .pure-g-r {
    height: 100%;
}

html body .faq-container .faq-question-container {
    padding-left: 50px;
    padding-bottom: 0px;
    width: 380px;
    text-align: justify;
}

html body .faq-container .faq-question-container .faq-number {
    font-family: arimoBold;
    font-size: 75px;
    margin-left: 50px;
    color: #ecb3d0;
}

html body .faq-container .faq-question-container .faq-question-content {
    margin-bottom: 13px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

html body .faq-container.two-elements .pure-u-1-2 {
    height: 100%;
}

html body .faq-container.two-elements .faq-question-container {
    padding-top: 13%;
}

html body .faq-container.three-elements .pure-u-1-2 {
    height: 100%;
    padding-top: 20px;
}

html body .faq-container.three-elements .faq-column2 {
    padding-top: 21%;
}

html body .evenements-container {
    height: 100%;
    width: 100%;
    background-color: #4fa429;
    color: white;
}

html body .evenements-container .evenements-barbecue-container {
    height: 100%;
    width: 100%;
}

html body .evenements-container .evenements-barbecue-container .evenements-barbecue-banner1 {
    height: 50%;
    max-height: 410px;
}

html body .evenements-container .evenements-barbecue-container .evenements-barbecue-banner1 .evenements-img_container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

html body .evenements-container .evenements-barbecue-container .evenements-barbecue-banner1 .evenements-img_container img {
    position: absolute;
    top: calc(50% -205px);
}

html body .evenements-container .evenements-barbecue-container .evenements-barbecue-banner2 {
    height: 50%;
    width: 100%;
    min-height: 230px;
    display: inline-block;
}

html body .evenements-container .evenements-barbecue-container .evenements-barbecue-banner2 .evenements-img_container {
    width: 310px;
    display: inline-block;
    float: left;
    position: relative;
    overflow: hidden;
    height: 100%;
}

html body .evenements-container .evenements-barbecue-container .evenements-barbecue-banner2 .evenements-img_container img {
    position: absolute;
    top: calc(50% -205px);
}

html body .evenements-container .evenements-barbecue-container .evenements-barbecue-banner2 .evenements-content-container {
    padding: 2%;
    padding-left: calc(2% +310px);
    text-align: justify;
    line-height: 20px;
}

html body .evenements-msday-container {
    height: 100%;
    width: 100%;
}

html body .evenements-msday-container strong {
    font-family: openSansCondBold;
    font-size: 20px;
}

html body .evenements-msday-container p {
    text-align: justify;
}

html body .evenements-msday-container .evenements-msday-banner1 {
    height: 49%;
    min-height: 240px;
}

html body .evenements-msday-container .evenements-msday-banner1 .evenements-img_container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 415px;
    display: inline-block;
    float: left;
}

html body .evenements-msday-container .evenements-msday-banner1 .evenements-img_container img {
    position: absolute;
    top: calc(50% -205px);
}

html body .evenements-msday-container .evenements-msday-banner1 .evenements-content-container {
    padding: 2%;
    padding-left: calc(2% +415px);
}

html body .evenements-msday-container .evenements-msday-banner1 .evenements-content-container .description > p {
    padding-top: 15px;
}

html body .evenements-msday-container .evenements-msday-banner1 .evenements-content-container .description p {
    padding-bottom: 15px;
}

html body .evenements-msday-container .evenements-msday-banner2 {
    height: 51%;
    width: 100%;
}

html body .evenements-msday-container .evenements-msday-banner2 .evenements-img_container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

html body .evenements-msday-container .evenements-msday-banner2 .evenements-img_container img {
    position: absolute;
    top: calc(50% -210px);
}

html body .evenements-mtidays-container {
    height: 100%;
    width: 100%;
}

html body .evenements-mtidays-container strong {
    font-family: openSansCondBold;
    font-size: 20px;
}

html body .evenements-mtidays-container p {
    text-align: justify;
}

html body .evenements-mtidays-container .evenements-mtidays-banner1 {
    height: 35%;
}

html body .evenements-mtidays-container .evenements-mtidays-banner1 .evenements-img_container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 315px;
    display: inline-block;
    float: left;
}

html body .evenements-mtidays-container .evenements-mtidays-banner1 .evenements-img_container img {
    position: absolute;
    top: calc(50% -160px);
}

html body .evenements-mtidays-container .evenements-mtidays-banner1 .evenements-content-container {
    padding: 2%;
    padding-left: calc(2% +315px);
}

html body .evenements-mtidays-container .evenements-mtidays-banner1 .evenements-content-container .description {
    line-height: 20px;
}

html body .evenements-mtidays-container .evenements-mtidays-banner2 {
    height: 65%;
    width: 100%;
}

html body .evenements-mtidays-container .evenements-mtidays-banner2 .evenements-img_container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

html body .evenements-mtidays-container .evenements-mtidays-banner2 .evenements-img_container img {
    position: absolute;
    top: calc(10% -211px);
    width: 100%;
}

html body #container {
    width: 100%;
    height: 100%;
}

html body #container #slides {
    width: 2000px;
    margin-left: calc(50% -495px);
    height: calc(100% -120px);
}

html body #container #slides #slides_container {
    height: 100%;
    width: 100%;
    position: relative;
}

html .clearer {
    clear: both;
}