.slide {
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -kthtml-transition: all 250ms ease-in-out;
  overflow: hidden;

  &.moving {
    box-shadow: 0px 0px 10px black;
  }
  .title {
    font-family: openSansCondBold;
    padding-bottom: 12px;
    font-size: 20px;
  }

  width: 940px;
  height: 700px;
  float: left;
  margin-left: 50px;

  background: #601a85; //tmp
}