<div class="debouches-container" >
    <div class="debouches-careers" >
        <div class="debouches-careers-texts" >
            <div class="slide-title" >
                Les carrières à la sortie...
            </div >
            <div class="debouches-inner_content" >
                Chef de projet </br>
                Consultant </br>
                Expert technologique </br>
                Marketing produit </br>
                Ingénieur d'application </br>
                Entrepreneur
            </div >

            <div class="slide-title" >
                Des évolutions vers...
            </div >
            <div class="debouches-inner_content" >
                Directeur technique </br>
                Directeur de recherche </br>
                Directeur de service informatique
            </div >
        </div >
        <div class="debouches-careers-img_container" >
            <img src="/resources/images/recrutement-MTI.png" alt="recrutement-MTI" >
        </div >
    </div >
    <div class="debouches-employers" >
        <div class="debouches-careers-img_container" >
            <img src="/resources/images/entreprise-partenaire.png" alt="entreprise-partenaire" >
        </div >
        <div class="debouches-employers-texts" >
            <div class="slide-title" >
                Des employeurs variés
            </div >
            <div class="debouches-inner_content" >
                Éditeurs de logiciels </br>
                Sociétés de services (SSII) </br>
                Cabinets de consulting </br>
                Éditeurs de Jeux vidéo </br>
                Grand comptes </br>
                Start-ups californiennes </br>
                Start-ups françaises
            </div >
        </div >
    </div >
</div >