<div class="debouches-employers" >
    <div class="debouches-careers-img_container" >
        <img src="/resources/images/debouches/debouches-entreprise-partenaire.png"
             alt="debouches-entreprise-partenaire" >
    </div >
    <div class="debouches-employers-texts" >
        <div class="slide-title" >
            Des employeurs variés
        </div >
        <div class="debouches-inner_content" >
            Éditeurs de logiciels </br>
            Sociétés de services (SSII) </br>
            Cabinets de consulting </br>
            Éditeurs de Jeux vidéo </br>
            Grand comptes </br>
            Start-ups californiennes </br>
            Start-ups françaises
        </div >
    </div >
</div >