<!DOCTYPE html>
<html >
<head >

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title >Majeure MTI à l'Épita</title >
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
    <link rel="stylesheet/less" type="text/css" href="/style/débouchés/débouchés.less" />
</head >

<body >
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;" >
    <div id="content" >
        <div class="debouches-container" >
            <div class="debouches-careers" >
                <div class="debouches-careers-texts" >
                    <div class="slide-title" >
                        Les carrières à la sortie...
                    </div >
                    <div class="debouches-inner_content" >
                        Chef de projet </br>
                        Consultant </br>
                        Expert technologique </br>
                        Marketing produit </br>
                        Ingénieur d'application </br>
                        Entrepreneur
                    </div >

                    <div class="slide-title" >
                        Des évolutions vers...
                    </div >
                    <div class="debouches-inner_content" >
                        Directeur technique </br>
                        Directeur de recherche </br>
                        Directeur de service informatique
                    </div >
                </div >
                <div class="debouches-careers-img_container" >
                    <img src="/resources/images/debouches/debouches-recrutement.png" alt="debouches-recrutement" >
                </div >
            </div >
            <div class="debouches-employers" >
                <div class="debouches-careers-img_container" >
                    <img src="/resources/images/debouches/debouches-entreprise-partenaire.png"
                         alt="debouches-entreprise-partenaire" >
                </div >
                <div class="debouches-employers-texts" >
                    <div class="slide-title" >
                        Des employeurs variés
                    </div >
                    <div class="debouches-inner_content" >
                        Éditeurs de logiciels </br>
                        Sociétés de services (SSII) </br>
                        Cabinets de consulting </br>
                        Éditeurs de Jeux vidéo </br>
                        Grand comptes </br>
                        Start-ups californiennes </br>
                        Start-ups françaises
                    </div >
                </div >
            </div >
        </div >
    </div >
</div >
<script type="text/javascript" src="/app/lib/jquery.js" ></script >
<script type="text/javascript" src="/app/lib/require.js" ></script >
<script type="text/javascript" src="/app/main.js" ></script >
<script type="text/javascript" src="/app/lib/less.js" ></script >
</body >
</html >