.pfee_planning {

  .column_a .content_section {
    padding-right: 50px;
  }

  .column_b .content_section {
    padding-left: 50px;

  }

  .content_section {
    padding-right: 20px;
    padding-top: 30px;
    height: 132px;
    text-align: justify;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: arimo;
    color: white;

    &.title {
      font-family: openSansCondBold;
      font-size: 20px;
    }

    &.image {
      padding-right: 0;
      padding-top: 0;
      height: 205px;
      width: 100%;
    }
  }
}