<!DOCTYPE html>
<html >
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title >Majeure MTI à l'Épita</title >
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
    <link rel="stylesheet/less" type="text/css" href="/style/presentation/presentation.less" />
</head >

<body >
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;" >
    <div id="content" >
        <div class="presentation-container" >
            <div class="banner1" >
                <div class="presentation-img_container" >
                    <img src="/resources/images/presentation/presentation-innovation.png"
                         alt="presentation-innovation" >
                </div >
                <div class="text-block" >
                    <strong >
                        La majeure MTI
                    </strong >

                    <p >
                        La majeure MTI – Multimédia et Technologies de l’Information – forme et sensibilise les
                        étudiants
                        aux technologies du web et à ses enjeux. Tous les aspects sont abordés, du développement au
                        design,
                        du marketing à la communication, avec l’objectif de faire découvrir aux étudiants les
                        fondements
                        technologiques et humains liés au multimédia.
                    </p >
                </div >
            </div >
            <div class="banner2" >
                <div >
                    <strong >
                        Langages <br /> Technologies
                    </strong >
                </div >
                <div >
                    <strong >
                        Design <br /> Multimédia
                    </strong >
                </div >
                <div >
                    <strong >
                        Management <br /> Communication
                    </strong >
                </div >
            </div >
            <div class="banner3" >
                <div class="presentation-img_container" >
                    <img src="/resources/images/presentation/presentation-technologie.png"
                         alt="presentation-technologie" >
                </div >
                <div class="presentation-img_container" >
                    <img src="/resources/images/presentation/presentation-design.png" alt="presentation-design" >
                </div >
                <div class="presentation-img_container" >
                    <img src="/resources/images/presentation/presentation-management.png"
                         alt="presentation-management" >
                </div >
            </div >
            <div class="banner4" >
                <div class="presentation-img_container" >
                    <img src="/resources/images/presentation/presentation-entreprises.png"
                         alt="presentation-entreprises" >
                </div >
                <div class="text-block" >
                    <div class="presentation-content" >
                        Pour faciliter une intégration dans le monde du travail, la majeure MTI propose depuis
                        plusieurs
                        années un projet professionnel en partenariat avec une entreprise.
                    </div >
                    <div class="presentation-content" >
                        Ce projet consiste à répondre à une demande d’un client, planifier le travail d’une équipe
                        et
                        travailler ensemble à la réalisation d’un projet. Les étudiants sont ainsi confrontés à la
                        réalité
                        du travail en entreprise et collaborent avec des personnes compétentes et professionnelles.
                    </div >
                </div >
            </div >
        </div >
    </div >
</div >
<script type="text/javascript" src="/app/lib/jquery.js" ></script >
<script type="text/javascript" src="/app/lib/require.js" ></script >
<script type="text/javascript" src="/app/main.js" ></script >
<script type="text/javascript" src="/app/lib/less.js" ></script >
</body >
</html >