<!DOCTYPE html>
<html >
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title >Majeure MTI à l'Épita</title >
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
    <link rel="stylesheet/less" type="text/css" href="/style/présentation/présentation.less" />
</head >

<body >
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;" >
    <div class="presentation-container" >
        <div class="pure-g-r presentation-banner1" >
            <div class="pure-u-3-5" >
                <div class="slide-title" >
                    La majeure MTI
                </div >
                <div class="presentation-content" >
                    La majeure MTI – Multimédia et Technologies de l’Information – forme et sensibilise les étudiants
                    aux technologies du web et à ses enjeux. Tous les aspects sont abordés, du développement au design,
                    du marketing à la communication, avec l’objectif de faire découvrir aux étudiants les fondements
                    technologiques et humains liés au multimédia.
                </div >
            </div >
            <div class="pure-u-2-5" >
                <div class="presentation-img_container" >
                    <img src="/resources/images/presentation/presentation-innovation.jpg" alt="presentation-innovation" >
                </div >
            </div >
        </div >
    </div >
</div >
<script type="text/javascript" src="/app/lib/jquery.js" ></script >
<script type="text/javascript" src="/app/lib/require.js" ></script >
<script type="text/javascript" src="/app/main.js" ></script >
<script type="text/javascript" src="/app/lib/less.js" ></script >
</body >
</html >