<div class="pure-g-r" >
    <div class="pure-u-1-2 faq-column1" >
        <div class="faq-question-container" >
            <div class="faq-number" >
                3.
            </div >
            <div class="slide-title" >
                Aurons-nous encore des liens avec les étudiants d’autres majeures ?
            </div >
            <div class="faq-question-content" >
                Bien-sûr ! Si chaque majeure dispense des cours spécifiques à ses élèves, d’autres cours
                dits de « tronc commun » seront dispensés à tous les étudiants d’une même promotion, comme
                par exemple les cours de mathématiques.
            </div >
            <div class="faq-question-content" >
                Certains cours, sans être de tronc commun, peuvent être dispensés aux élèves de plusieurs
                majeures. Ils vous arriveront donc possiblement de suivre une matière en compagnie des
                élèves de SCIA ou de TCOM par exemple.
            </div >
        </div >
    </div >
    <div class="pure-u-1-2 faq-column2" >
        <div class="faq-question-container" >
            <div class="faq-number" >
                4.
            </div >
            <div class="slide-title" >
                Qu’est-ce que le PLIC ?
            </div >
            <div class="faq-question-content" >
                Le PLIC, pour « Projet Libre d’Innovation et de Communication », est un projet qui débute
                dès l’entrée en MTI et se termine durant le mois d’octobre, lors du premier semestre d’ING3.
                Une thématique est en générale imposée, mais vous pouvez proposer un projet indépendant s’il
                est innovant et original.
            </div >
            <div class="faq-question-content" >
                Le projet se fait par groupes de trois personnes. Son déroulement est suivi de près tout le
                long de l’année par le professeur responsable des PLIC grâce à un suivi de trente minutes
                toutes les trois semaines.
            </div >
        </div >
    </div >
</div >