<!DOCTYPE html>
<html >
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title >Majeure MTI à l'Épita</title >
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
    <link rel="stylesheet/less" type="text/css" href="/style/faq/faq.less" />
</head >

<body >
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;" >
    <div id="content" >
        <div class="faq-container" >
            <div class="pure-g-r" >
                <div class="pure-u-1-2" >
                    <div class="faq-question-container" >
                        <div class="faq-number" >
                            1.
                        </div >
                        <div class="slide-title" >
                            Qu’est-ce que MTI ?
                        </div >
                        <div class="faq-question-content" >
                            MTI signifie « Multimédia et Technologies de l'Information ». Il s’agit d’une des huit
                            majeures
                            qu’il faudra choisir avant la fin du premier semestre de la seconde année du cycle ingénieur
                            (ING2)
                            durant lequel chaque épitéen doit effectuer un stage. Les cours propres à chaque majeure se
                            déroulent dès la fin de ce stage jusqu’à la fin du premier semestre de la troisième année du
                            cycle
                            ingénieur (ING3) après lequel se déroule le stage de fin d’études.
                            Pour plus d’informations sur ce en quoi consiste la MTI, nous vous invitons à vous rendre
                            sur la
                            page de présentation de la majeure.
                        </div >
                    </div >
                    <div class="faq-question-container" >
                        <div class="faq-number" >
                            3.
                        </div >
                        <div class="slide-title" >
                            Qu’est-ce que le PLIC ?
                        </div >
                        <div class="faq-question-content" >
                            Le PLIC, pour « Projet Libre d’Innovation et de Communication », est un projet qui débute
                            dès
                            l’entrée en MTI et se termine durant le mois d’octobre, lors du premier semestre d’ING3. Une
                            thématique est en générale imposée, mais vous pouvez proposer un projet indépendant s’il est
                            innovant et original.
                            Le projet se fait par groupes de trois personnes. Son déroulement est suivi de près tout le
                            long
                            de
                            l’année par le professeur responsable des PLIC grâce à un suivi de trente minutes toutes les
                            trois
                            semaines.
                        </div >
                    </div >
                </div >
                <div class="pure-u-1-2 faq-column2" >
                    <div class="faq-question-container" >
                        <div class="faq-number" >
                            2.
                        </div >
                        <div class="slide-title" >
                            Comment est organisée la majeure MTI ?
                        </div >
                        <div class="faq-question-content" >
                            Les cours de MTI sont exclusivement donnés par des professionnels. Ainsi, la plupart sont
                            dispensés
                            le soir. Les horaires peuvent aller de 18h à 23h30 suivant les matières. Les technologies
                            vues
                            en
                            cours sont extrêmement variées : .NET, JEE, PHP, iOS, 3D, jeux vidéo, WPF, Windows 8,
                            Android,
                            CMS,
                            etc. Pour une liste plus complète et explicite, nous vous invitons à vous rendre sur la page
                            dédiée
                            aux cours.
                            Pour la plupart des matières, le mode d’évaluation s’effectuera par un projet à rendre, en
                            groupe ou
                            individuellement. Il est donc possible que vous ayez à mener à bien plusieurs projets
                            simultanément,
                            une bonne organisation sera donc de rigueur.
                        </div >
                    </div >
                </div >
            </div >
        </div >
    </div >
</div >

<script type="text/javascript" src="/app/lib/jquery.js" ></script >
<script type="text/javascript" src="/app/lib/require.js" ></script >
<script type="text/javascript" src="/app/main.js" ></script >
<script type="text/javascript" src="/app/lib/less.js" ></script >
</body >
</html >