<!DOCTYPE html>
<html >
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title >Majeure MTI à l'Épita</title >
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
    <link rel="stylesheet/less" type="text/css" href="/style/faq/faq.less" />
</head >

<body >
<div class="slide active" style="width: 940px; height: 825px; margin: 50px;" >
    <div id="content" >
        <div class="faq-container" >
            <div class="pure-g-r" >
                <div class="pure-u-1-2" >
                    <div class="faq-question-container" >
                        <div class="faq-number" >
                            7.
                        </div >
                        <div class="slide-title" >
                            Qu’est-ce qu’un pôle/atelier ?
                        </div >
                        <div class="faq-question-content" >
                            La majeure MTI comporte au total trois pôles qui comprennent chacun un certain nombre
                            d’ateliers. Chaque étudiant de MTI se verra attribué à un atelier particulier, souvent
                            désigné en fonction des technologies utilisées dans son PLIC.
                        </div >
                        <div class="faq-question-content" >
                            Les étudiants ont donc généralement des responsabilités qui dépendent du pôle dans lequel
                            ils se trouvent. Cela peut aller de la gestion des serveurs à l’organisation de soirées
                            étudiantes ou encore de conférences techniques.
                        </div >
                        <div class="faq-question-content" >
                            La majeure MTI est aujourd’hui composée de onze ateliers différents. Si vous souhaitez avoir
                            plus d’informations à leur propos, nous vous invitons à vous rendre sur la page qui leur est
                            dédiée.
                        </div >
                    </div >
                    <div class="faq-question-container" >
                        <div class="faq-number" >
                        </div >
                        <div class="slide-title" >
                        </div >
                        <div class="faq-question-content" >
                        </div >
                    </div >
                </div >
                <div class="pure-u-1-2 faq-column2" >
                    <div class="faq-question-container" >
                        <div class="faq-number" >
                            8.
                        </div >
                        <div class="slide-title" >
                            Vers quel genre de stage de fin d’étude puis-je m’orienter en choisissant cette majeure ?
                        </div >
                        <div class="faq-question-content" >
                            Les cours de la majeure MTI tournent essentiellement autour des technologies web et mobiles,
                            il y a donc plus de chance d’obtenir un stage dans ce secteur grâce au bagage technique que
                            vous aurez déjà acquis.
                        </div >
                        <div class="faq-question-content" >
                            Toutefois, c’est à vous de décider le type de stage qui vous intéresse le plus, surtout si
                            vous souhaitez exercer dans un secteur qui n’est pas enseigné au sein de la majeure et que
                            vous souhaitez découvrir.
                        </div >
                    </div >
                </div >
            </div >
        </div >
    </div >
</div >

<script type="text/javascript" src="/app/lib/jquery.js" ></script >
<script type="text/javascript" src="/app/lib/require.js" ></script >
<script type="text/javascript" src="/app/main.js" ></script >
<script type="text/javascript" src="/app/lib/less.js" ></script >
</body >
</html >