<div class="pure-g-r" >
    <div class="pure-u-1-2" >
        <div class="faq-question-container" >
            <div class="faq-number" >
                1.
            </div >
            <div class="slide-title" >
                Qu’est-ce que MTI ?
            </div >
            <div class="faq-question-content" >
                MTI signifie « Multimédia et Technologies de l'Information ». Il s’agit d’une des huit
                majeures
                qu’il faudra choisir avant la fin du premier semestre de la seconde année du cycle ingénieur
                (ING2)
                durant lequel chaque épitéen doit effectuer un stage. Les cours propres à chaque majeure se
                déroulent dès la fin de ce stage jusqu’à la fin du premier semestre de la troisième année du
                cycle
                ingénieur (ING3) après lequel se déroule le stage de fin d’études.
            </div >
            <div class="faq-question-content" >
                Pour plus d’informations sur ce en quoi consiste la MTI,
                nous vous invitons à vous rendre
                sur la
                page de présentation de la majeure.
            </div >
        </div >
        <div class="faq-question-container" >
            <div class="faq-number" >
                3.
            </div >
            <div class="slide-title" >
                Comment est organisée la majeure MTI ?
            </div >
            <div class="faq-question-content" >
                Les cours de MTI sont exclusivement donnés par des professionnels. Ainsi, la plupart sont
                dispensés le soir. Les horaires peuvent aller de 18h à 23h30 suivant les matières. Les
                technologies vues en cours sont extrêmement variées : .NET, JEE, PHP, iOS, 3D, jeux vidéo,
                WPF, Windows 8, Android, CMS, etc. Pour une liste plus complète et explicite, nous vous
                invitons à vous rendre sur la page dédiée aux cours.
            </div >
            <div class="faq-question-content" >
                Pour la plupart des matières, le mode d’évaluation s’effectuera par un projet à rendre, en
                groupe ou individuellement. Il est donc possible que vous ayez à mener à bien plusieurs
                projets simultanément, une bonne organisation sera donc de rigueur.
            </div >
        </div >
    </div >
    <div class="pure-u-1-2 faq-column2" >
        <div class="faq-question-container" >
            <div class="faq-number" >
                2.
            </div >
            <div class="slide-title" >
                Aurons-nous encore des liens avec les étudiants d’autres majeures ?
            </div >
            <div class="faq-question-content" >
                Bien-sûr ! Si chaque majeure dispense des cours spécifiques à ses élèves, d’autres cours
                dits de « tronc commun » seront dispensés à tous les étudiants d’une même promotion, comme
                par exemple les cours de mathématiques.
            </div >
            <div class="faq-question-content" >
                Certains cours, sans être de tronc commun, peuvent être dispensés aux élèves de plusieurs
                majeures. Ils vous arriveront donc possiblement de suivre une matière en compagnie des
                élèves de SCIA ou de TCOM par exemple.
            </div >
        </div >
    </div >
</div >