<div class="pure-g-r" >
    <div class="pure-u-1-2" >
        <div class="faq-question-container" >
            <div class="faq-number" >
                4.
            </div >
            <div class="slide-title" >
                Qu’est-ce que le PLIC ?
            </div >
            <div class="faq-question-content" >
                Le PLIC, pour « Projet Libre d’Innovation et de Communication », est un projet qui débute
                dès l’entrée en MTI et se termine durant le mois d’octobre, lors du premier semestre d’ING3.
                Une thématique est en générale imposée, mais vous pouvez proposer un projet indépendant s’il
                est innovant et original.
            </div >
            <div class="faq-question-content" >
                Le projet se fait par groupes de trois personnes. Son déroulement est suivi de près tout le
                long de l’année par le professeur responsable des PLIC grâce à un suivi de trente minutes
                toutes les trois semaines.
            </div >
        </div >
        <div class="faq-question-container" >
            <div class="faq-number" >
                6.
            </div >
            <div class="slide-title" >
                Est-on obligé de travailler avec une entreprise pour le PFEE ?
            </div >
            <div class="faq-question-content" >
                Non, il est également possible de travailler sur un PFE, ou « Projet de fin d’Etudes ». En
                général, il s’agit du PLIC qu’une équipe souhaite davantage développer.
            </div >
        </div >
    </div >
    <div class="pure-u-1-2 faq-column2" >
        <div class="faq-question-container" >
            <div class="faq-number" >
                5.
            </div >
            <div class="slide-title" >
                Qu’est-ce que le PFEE ?
            </div >
            <div class="faq-question-content" >
                Le PFEE ou « Projets de Fin d'Études en Entreprises » est un projet qui débute au milieu du
                second semestre d’ING2, vers le mois de mai. Comme son nom l’indique, il va s’agir ici de
                réaliser un projet par groupe de trois, en collaboration avec une entreprise.
            </div >
            <div class="faq-question-content" >
                Plusieurs entreprises viendront à EPITA pour présenter le projet sur lequel ils désirent
                travailler avec des étudiants. Ce sera alors à vous de choisir le projet qui vous tient le
                plus à cœur et de convaincre l’entreprise de vous sélectionner lors d’une présentation qui
                se fera devant la classe entière.
            </div >
            <div class="faq-question-content" >
                Le bon déroulement du projet sera contrôlé par des réunions de coaching effectuées par une
                équipe pédagogique d’EPITA.
            </div >
        </div >
    </div >
</div >