<div class="debouches-careers" >
    <div class="debouches-careers-texts" >
        <div class="slide-title" >
            Les carrières à la sortie...
        </div >
        <div class="debouches-inner_content" >
            Chef de projet <br/>
            Consultant <br/>
            Expert technologique <br/>
            Marketing produit <br/>
            Ingénieur d'application <br/>
            Entrepreneur
        </div >

        <div class="slide-title" >
            Des évolutions vers...
        </div >
        <div class="debouches-inner_content" >
            Directeur technique <br/>
            Directeur de recherche <br/>
            Directeur de service informatique
        </div >
    </div >
    <div class="debouches-careers-img_container" >
        <img src="/resources/images/debouches/debouches-recrutement.png" alt="debouches-recrutement" >
    </div >
</div >