.cours {
  padding-top: 20px;
  color: white;



  .content {
    background-color: #eac501;
    float: left;
    padding-left: 5px;
  }

  .matter-texts {
    float: right;
    padding-right: 20px;
    width: ~"calc(100% - 115px)";
    text-align: justify;
    font-family: arimo;
    font-style: bold;
    font-size: 14px;
  }

  .matter-image {
    float: left;
  }

  .matter {
    float: left;
    width: 100%;
  }

  ul {
    list-style-type: none;
  }

  li {
    margin-bottom: 10px;
  }

  .matter-title {
    font-weight: bold;
    font-family: openSansCondBold;
    font-size: 20px;
  }

  .matter-image {
    height: 80px;
    width: 80px;
    background: white;
    overflow: hidden;
    text-align: center;
    display: table-cell;

    border-right: 5px solid #b94a48;
    &.default {
      background: rgba(255,255,255,0.5);
    }

    img {

      max-width: 60px;
      max-height: 60px;
      padding-top: 10px;
    }
  }
}