p,h1,li
{
  font-family: 'Arimo', sans-serif;
  font-style:bold;
}

.content
{
  background-color: #eac501;
  float:left;
  padding-left: 5px;
}

.matter-description{
  color: #484848;
  font-size:14pt;
}



.matter-texts
{
  float:right;
  padding-left : 10px;
  width: 92%;
}

.matter-image
{
  float:left;
}

.matter
{
  float:left;
  width:100%;
}

ul
{
  list-style-type: none;
}

li{
  margin-bottom:10px;
}

.matter-title
{
  text-decoration:bold;
  font-size: 14pt;
}