<!DOCTYPE html>
<html>
<head>
    <title>Projets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="../../style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="../../style/main.less" />
    <link rel="stylesheet" type="text/css" href="../../style/projets/projets4.less" />
    <link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="slide active">
    <div id="content">
        <div class="projets-container">
            <div id="blindtest-container">
                <div id="blindtest">
                    <h1 class="project-name">BlindTest
                    </h1>
                    <p>Application BlindTest pour iPhone. Elle lit des musiques aléatoirement, l'objectif étant de deviner le titre et l'auteur de la chanson le plus rapidement possible.</p>
                </div>

            </div>
            <div id="playlistyoutube-container">
                <div id="playlistyoutube">
                    <h1 class="project-name">Playlist YouTube</h1>
                    <p>Il s'agit d'un gestionnaire de playlists YouTube, permettant ainsi d'ajouter et de supprimer des vidéos de listes de lecture personnalisées, afin de les visionner par la suite.</p>
                </div>
            </div>
            <img src="" width="730" height="300"/>
        </div>
    </div>
</div>
</body>
</html>