<!DOCTYPE html>
<html>
<head>
    <title>Projets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../../style/pure-min.css"/>
    <link rel="stylesheet/less" type="text/css" href="../../style/main.less"/>
    <link rel="stylesheet" type="text/css" href="../../style/projets/projets1.less"/>
    <link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="slide active">
    <div id="content" class="projets-container hyphenate">
        <div class=" projects_1">
            <div class="pure-g">
                <div id="mtimusic" class="pure-u-1-2">
                    <h1 class="project-name">MTIMusic</h1>

                    <p>
                        Il s'agit d'une applcation de gestion de bibliothèque musicale qui permet de :
                    </p>

                    <ul class="text_list">
                        <li>Charger des fichiers MP3;</li>
                        <li>Lire des fichiers MP3;</li>
                        <li>Créer des playlists;</li>
                        <li>Partager des playlists sur Twitter.</li>
                    </ul>
                </div>
                <div id="socialmusic" class="pure-u-1-2">
                    <h1 class="project-name">SocialMusic</h1>

                    <p>
                        SocialMusic est une application web servant à la fois de gestionnaire de bibliothèque
                        musicale
                        et
                        de réseau social. Elle permet de :
                    </p>

                    <ul class="text_list">
                        <li>Charger des fichiers MP3;</li>
                        <li>Lire des fichiers MP3;</li>
                        <li>Créer des playlists;</li>
                        <li>Partager des playlists par l'application.</li>
                    </ul>
                </div>

                <div id="happyhour-container" class="pure-u-1-2">
                    <div id="happyhour">
                        <h1 class="project-name">Happy Hours</h1>

                        <p>Cette single page application permet aux utilisateurs d'échanger leurs connaissances dans
                            l'art
                            des cocktails, en leur donnant des fonctionnalités pour :</p>
                        <ul class="text_list">
                            <li>Consulter des recettes;</li>
                            <li>Rechercher par ingrédients;</li>
                            <li>Partager leurs recettes;</li>
                            <li>Partager des photos de cocktails.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="logo_container">
                <img src="/resources/images/projets/generaux/technos/microsoft%20DOTNET.png"
                     alt="Logo Microsoft .NET"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>