<!DOCTYPE html>
<html>
<head>
    <title>Projets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="../../style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="../../style/main.less" />
    <link rel="stylesheet" type="text/css" href="../../style/projets/projets2.less" />
    <link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="slide active">
    <div id="content">
        <div class="projets-container">
            <div id="youtubeviewer-container">
                <div id="youtubeviewer">
                    <h1 class="project-name">YouTubeViewer</h1>
                    <p>Il s'agit d'une extension Chrome permettant de :</p>
                    <ul>
                        <li>Sauver l'historique des dernières vidéos regardées;</li>
                        <li>Sauver les publicités;</li>
                        <li>Naviguer sur une interface 3D;</li>
                    </ul>
                </div>

            </div>
            <div id="winterleap-container">
                <div id="winterleap">
                    <h1 class="project-name">WinterLeap</h1>
                    <p>C'est un jeu de scoring où le but est de sauter sur des briques et d'aller le plus haut possible, à la façon de Doodle Jump. Jouable sur tablette, mobile et client lourd.</p>

                </div>
            </div>
            <img src="" width="730" height="300"/>
        </div>
    </div>
</div>
</body>
</html>