<!DOCTYPE html>
<html>
<head>
    <title>Projets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
</head>
<body>
<div class="slide active">
    <div id="content" class="projets-container">
        <div class="general_project">
            <div class="pure-g">
                <div id="mtidisquaire-container" class="pure-u-1-2">
                    <div id="mtidisquaire">
                        <h1 class="project-name">MTIDisquaire</h1>

                        <p>Cette application permet la gestion de bibliothèque CD qui permet de :</p>
                        <ul class="text_list">
                            <li>Ajouter, modifier, supprimer des CD;</li>
                            <li>Gérer les artistes des CD;</li>
                            <li>Gérer les albums par artiste;</li>
                            <li>Gérer les albums par genre;</li>
                            <li>Modifier les stocks;</li>
                            <li>Rechercher les CD.</li>
                        </ul>
                    </div>

                </div>
                <div id="lolteam-container" class="pure-u-1-2">
                    <div id="lolteam">
                        <h1 class="project-name">Lol Team</h1>

                        <p>Il s'agit d'un site web permettant la gestion d'équipe pour un jeu vidéo qui permet de :</p>
                        <ul class="text_list">
                            <li>Créer une communauté de joueurs;</li>
                            <li>Organiser des tournois;</li>
                            <li>Noter les joueurs;</li>
                        </ul>
                    </div>
                </div>

            </div>
            <!--<div class="logo_container">-->
                <!--<img src="/resources/images/projets/generaux/technos/java-logo.jpg"-->
                     <!--alt="Logo JavaScript"/>-->
            <!--</div>-->
        </div>
    </div>
</div>
</body>
</html>