<!DOCTYPE html>
<html>
<head>
    <title>Projets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="../../style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="../../style/main.less" />
    <link rel="stylesheet" type="text/css" href="../../style/projets/projets5.less" />
    <link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="slide active">
    <div id="content">
        <div class="projets-container">
            <div id="text-container">
                <div id="text">
                    <h1 class="project-name">Run or Die</h1>
                    <p>Run Or Die est un jeu 3D de type Temple Run réalisé réalisé à l’aide d’Unity 3D, jouable sous Windows ou Mac. Le but est de survivre le plus longtemps possible en évitant des zombies dans une atmosphère terrifiante.</p>
                </div>

            </div>
            <div id="images-div">
                images du jeu
            </div>


        </div>
    </div>
</div>
</body>
</html>