<!DOCTYPE html>
<html>
<head>
    <title>Projets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../../style/pure-min.css"/>
    <link rel="stylesheet/less" type="text/css" href="../../style/main.less"/>
    <link rel="stylesheet" type="text/css" href="../../style/projets/projets5.less"/>
    <link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="slide active">
    <div id="content" class="projets-container">
        <div class=" projects_5">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div class="run_or_die">
                        <h1 class="project-name">Run or Die</h1>

                        <p>Run Or Die est un jeu 3D de type Temple Run réalisé réalisé à l’aide d’Unity 3D, jouable sous
                            Windows ou Mac. Le but est de survivre le plus longtemps possible en évitant des zombies
                            dans
                            une atmosphère terrifiante.</p>
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div class="gravity_game">
                        <h1 class="project-name">Gravity Game</h1>

                        <p>
                            Gravity Game est un jeu 2D entièrement réalisé en HTML5. Le joueur évolue dans un système
                            solaire
                            L'objectif est de créer la vie sur des planètes en y déposant les ingrégients nécessaires,
                            et
                            de leur apporter de l'énergie en ravivant l'étoile.
                        </p>
                    </div>
                </div>
            </div>
            <div class="logo_container">
                <img src="/resources/images/projets/generaux/technos/game_controller.png"
                     alt="Logo JavaScript"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>