<!DOCTYPE html>
<html>
<head>
    <title>Projets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="../../style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="../../style/main.less" />
    <link rel="stylesheet" type="text/css" href="../../style/projets/projets3.less" />
    <link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="slide active">
    <div id="content" class="projets-container">
        <div class=" projects_3">
            <div id="mtidisquaire-container">
                <div id="mtidisquaire">
                    <h1 class="project-name">MTIDisquaire</h1>
                    <p>Cette application permet la gestion de bibliothèque CD qui permet de :</p>
                    <ul class="text_list">
                        <li>Ajouter, modifier, supprimer des CD;</li>
                        <li>Gérer les artistes des CD;</li>
                        <li>Gérer les albums par artiste;</li>
                        <li>Gérer les albums par genre;</li>
                        <li>Modifier les stocks;</li>
                        <li>Rechercher les CD.</li>
                    </ul>
                </div>

            </div>
            <div id="lolteam-container">
                <div id="lolteam">
                    <h1 class="project-name">Lol Team</h1>
                    <p>Il s'agit d'un site web permettant la gestion d'équipe pour un jeu vidéo qui permet de :</p>
                    <ul>
                        <li>Créer une communauté de joueurs;</li>
                        <li>Organiser des tournois;</li>
                        <li>Noter les joueurs;</li>
                    </ul>
                </div>
            </div>
            <img src="" width="730" height="300"/>
        </div>
    </div>
</div>
</body>
</html>