<!DOCTYPE html>
<html >
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
<div class="container">
    <div class="content">
        <ul>
            <li class="matter">
                <img alt="WPF" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">
                    <p >WPF et développement d'interfaces</p>
                    <p>Initiation à la technologie WPF, avec notamment l'utilisation des animations, du framework MVVM Light, etc.</p>
                </div>
            </li>
            <li class="matter">
                <img alt="PLIC" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">
                    <p>PLIC : Project Libre d'Innovation et de Communication</p>
                    <p>Ce projet se poursuit jusqu'à la fin du premier semestre d'ING3</p>
                </div>
            </li>
            <li class="matter">
                <img alt="PFEE" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">
                    <p>PFEE : Project de Fin d'Etudes en Entreprise</p>
                    <p >Réalisation d'un projet au sein d'une entreprise en parallèle des cours et des autres projets de l'année. Les technologies et les spécifications sont imposées par l'entreprise.</p>
                </div>
            </li>
            <li class="matter">
                <img alt="CMS" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">
                    <p>Système de gestion de contenu</p>
                    <p >Introduction à l'utilisation de CMS avec notamment des TP sur Drupal</p>
                </div>
            </li>
            <li class="matter">
                <img alt="Design graphique" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">
                    <p>Desgin graphique et outils dédiés</p>
                    <p>Ce cours est la suite de celui ayant été donné au second semestre d'ING2.</p>
                </div>
            </li>
            <li class="matter">
                <img alt="DataWarehouse" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">
                    <p>Data Warehouse, Olap</p>
                    <p></p>
                </div>
            </li>
            <li class="matter">
                <img alt="3D/Direct X" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">
                    <p>Formation 3D/Direct X</p>
                    <p>Introduction au développement 3D et Direct X</p>
                </div>
            </li>

        </ul>
    </div>
</div>
</head>
</html>