<!DOCTYPE html>
<html>
<head>
    <title>Projets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../../style/pure-min.css"/>
    <link rel="stylesheet/less" type="text/css" href="../../style/main.less"/>
    <link rel="stylesheet" type="text/css" href="../../style/cours/cours-langages-et-technologies.less"/>
    <link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="slide active">
    <div id="content" class="cours">
        <div class="matters">
            <ul>
                <li class="matter">
                    <div class="matter-image">
                        <img alt="WPF"  src="/resources/images/projets/generaux/technos/microsoft%20DOTNET.png" />
                    </div>

                    <div class="matter-texts">
                        <p class="matter-title"><strong><span class="">Environnement </span>.NET et C# </strong></p>

                        <p class="matter-description">Cette matière enseigne le maniement des outils de développement du
                            framework .NET
                            de Microsoft en C#, en allant de la création d'un serveur web à l'édition de tests
                            unitaires.</p>
                    </div>
                </li>
                <li class="matter">
                    <div class="matter-image">
                        <img alt="JEE"  src="/resources/images/projets/generaux/technos/java-logo.jpg" />
                    </div>

                    <div class="matter-texts">
                        <p class="matter-title"><strong>JEE et Frameworks<span class=""> : utilisation de Spring, Hibernate,
                            JPA</span></strong></p>

                        <p class="matter-description">Cette matière enseigner le développement JAVA grâce aux outils JEE
                            et aux différents frameworks disponibles.</p>
                    </div>
                </li>
                <li class="matter">
                    <div class="matter-image">
                        <img alt="PHP"  src="/resources/images/projets/generaux/technos/php-logo.jpg" />
                    </div>

                    <div class="matter-texts">
                        <p class="matter-title"><strong><span class="">Initiation au langage et Frameworks</span> PHP</strong></p>

                        <p class="matter-description">Enseigne les bases du développement PHP en prenant en compte la
                            sécuristation d'une application web-serveur, et en présentant de nombreux outils
                            disponbiles.</p>
                    </div>
                </li>
                <li class="matter">
                    <div class="matter-image">
                        <img alt="Javascript"  src="/resources/images/projets/generaux/technos/javascript.png" />
                    </div>

                    <div class="matter-texts">
                        <p class="matter-title"><strong>Javascript</strong></p>

                        <p class="matter-description">Ce cours enseigne aux étudiants de MTI les bases du langage
                            Javascript, et leur permet de développer un projet libre dans ce langage.</p>
                    </div>
                </li>
                <li class="matter">
                    <div class="matter-image">
                        <img alt="WPF"  src="/resources/images/projets/generaux/technos/game_controller.png" />
                    </div>

                    <div class="matter-texts">
                        <p class="matter-title"><strong><span class="">Développement d'un </span>Jeu Vidéo</strong></p>

                        <p class="matter-description">Cette matière enseigne aux étudiants de MTI les bases du
                            développement de jeu vidéo, avec la présentation de différentes techniques. Le développement
                            d'un jeu vidéo du début à la fin permet aux étudiants d'appréhender une grande partie de ces
                            concepts.
                        </p>
                    </div>
                </li>
                <li class="matter">
                    <div class="matter-image">
                        <img alt="WPF"  src="/resources/images/projets/generaux/technos/HTML%205.png" />
                    </div>

                    <div class="matter-texts">
                        <p class="matter-title">
                            <strong>Intégration <span class="">HTML/CSS/JavaSript orienté design</span></strong>
                        </p>

                        <p class="matter-description">Cette matière enseigne aux étudiants l'importance du design dans
                            le développement d'un projet web, et leur apprend à manier des outils comme Photoshop</p>
                    </div>
                </li>
                <li class="matter">
                    <div class="matter-image">
                        <div class="matter-image">
                            <img alt="WPF"  src="/resources/images/projets/generaux/technos/ios-logo.jpg" />
                        </div>
                    </div>
                    <div class="matter-texts">
                        <p class="matter-title"><strong><span class="">Développement mobile </span>iOS</strong></p>

                        <p class="matter-description">Cette matière permet aux étudiants de MTI de déouvrir le
                            développement mobile en iOS. Un projet libre est également à développer pour
                            l'évaluation.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>