<div id="container">
    <div id="content">
        <div id="matters">
            <ul>
                <li class="matter" id="evtNET">
                    <img alt="Environnement .NET et C#" class="matter-image" src="" height="100" width="105">
                    <div class="matter-texts">
                        <p id="matter-title">Environnement .NET et C#</p>
                        <p id="matter-content">Cette matière enseigne le maniement des outils de développement du framework .NET
                            de Microsoft en C#, en allant de la création d'un serveur web à l'édition de tests unitaires.</p>
                    </div>
                </li>
                <li class="matter" id="jee">
                    <img alt="JEE" class="matter-image" src="" height="100" width="105">
                    <div class="matter-texts">
                        <p id="matter-title">JEE et Frameworks : utilisation de Spring, Hibernate, JPA</p>
                        <p id="matter-content">Cette matière enseigner le développement JAVA gràace aux outils JEE et aux différents frameworks disponibles.</p>
                    </div> 
                </li>
                 <li class="matter" id="php">
                    <img alt="Frameworks PHP" class="matter-image" src="" height="100" width="105">
                    <div class="matter-texts">
                        <p id="matter-title">Initiation au langage et Frameworks PHP</p>
                        <p id="matter-content">Enseigne les bases du développement PHP en prenant en compte la sécuristation d'une application web-serveur, et en présentant de nombreux outils disponbiles.</p>
                    </div>
                </li>
                 <li class="matter" id="javascript">
                    <img alt="Javascript" class="matter-image" src="" height="100" width="105">
                    <div class="matter-texts">
                        <p id="matter-title">Javascript</p>
                        <p id="matter-content">Ce cours enseigne aux étudiants de MTI les bases du langage Javascript, et leur permet de développer un projet libre dans ce langage.</p>
                    </div>
                </li>
                 <li class="matter" id="jeuxv-ideo">
                    <img alt="Développement d'un jeu vidéo" class="matter-image" src="" height="100" width="105">
                    <div class="matter-texts">
                        <p id="matter-title">Développement d'un jeu vidéo (technologies et langages au choix de l'étudiant).</p>
                        <p id="matter-content">Cette matière enseigne aux étudiants de MTI les bases du développement de jeu vidéo, avec la présentation de différentes techniques. Le développement d'un jeu vidéo du début à la fin permet aux étudiants d'appréhender une grande partie de ces concepts.</p>
                    </div>
                </li>
                 <li class="matter" id="integrationHTML">
                    <img alt="Intégration HTML/CSS/Javascript" class="matter-image" src="" height="100" width="105">
                    <div class="matter-texts">
                        <p id="matter-title">Intégration HTML/CSS/JavaSript orienté design</p>
                        <p id="matter-content">Cette matière enseigne aux étudiants l'importance du design dans le développement d'un projet web, et leur apprend à manier des outils comme Photoshop</p>
                    </div>
                </li>
                 <li class="matter" id="ios">
                    <img class="matter-image" src="" alt="Développement mobile iOS" height="100" width="105">
                    <div class="matter-texts">
                        <p id="matter-title">Développement mobile iOS</p>
                        <p id="matter-content">Cette matière permet aux étudiants de MTI de déouvrir le développement mobile en iOS. Un projet libre est également à développer pour l'évaluation.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</div>