<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css"/>
    <link rel="stylesheet/less" type="text/css" href="/style/main.less"/>
    <link rel="stylesheet" type="text/css" href="../../style/cours/cours-langages-et-technologies.less"/>
    <link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="slide active">
    <div id="content" class="cours">

        <div class="content">
            <ul>
                <li class="matter">
                    <div class="matter-image">
                        <img alt="WPF"  src="/resources/images/projets/generaux/technos/microsoft%20DOTNET.png" />
                    </div>
                    <div class="matter-texts">
                        <p class="matter-title">WPF et développement d'interfaces</p>

                        <p class="matter-description">Initiation à la technologie WPF, avec notamment l'utilisation des
                            animations, du framework MVVM Light, etc.</p>
                    </div>
                </li>
                <li class="matter">
                    <div class="matter-image default">
                    </div>

                    <div class="matter-texts">
                        <p class="matter-title">PLIC : Project Libre d'Innovation et de Communication</p>

                        <p class="matter-description">Ce projet se poursuit jusqu'à la fin du premier semestre
                            d'ING3</p>
                    </div>
                </li>
                <li class="matter">
                    <div class="matter-image default">
                    </div>

                    <div class="matter-texts">
                        <p class="matter-title">PFEE : Project de Fin d'Etudes en Entreprise</p>

                        <p class="matter-description">Réalisation d'un projet au sein d'une entreprise en parallèle des
                            cours et des autres projets de l'année. Les technologies et les spécifications sont imposées
                            par l'entreprise.</p>
                    </div>
                </li>
                <li class="matter">
                    <div class="matter-image">
                        <img alt="CMS"  src="/resources/images/projets/generaux/technos/drupal.gif" />
                    </div>

                    <div class="matter-texts">
                        <p class="matter-title">Système de gestion de contenu</p>

                        <p class="matter-description">Introduction à l'utilisation de CMS avec notamment des TP sur
                            Drupal</p>
                    </div>
                </li>
                <li class="matter">
                    <div class="matter-image">
                        <img alt="Design"  src="/resources/images/projets/generaux/technos/HTML%205.png" />
                    </div>
                    <div class="matter-texts">
                        <p class="matter-title">Desgin graphique et outils dédiés</p>

                        <p class="matter-description">Ce cours est la suite de celui ayant été donné au second semestre
                            d'ING2.</p>
                    </div>
                </li>
                <li class="matter">
                    <div class="matter-image default">
                    </div>

                    <div class="matter-texts">
                        <p class="matter-title">Data Warehouse, Olap</p>
                    </div>
                </li>
                <li class="matter">
                    <div class="matter-image">
                        <img alt="DirectX 3D"  src="/resources/images/projets/generaux/technos/directx.jpg" />
                    </div>

                    <div class="matter-texts">
                        <p class="matter-title">Formation 3D/Direct X</p>

                        <p class="matter-description">Introduction au développement 3D et Direct X</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>

</html>