<div class="container">
    <div class="content">
        <ul>
            <li class="matter" >
                <img alt="ANDO" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">
                    <p>Analyse de données</p>
                    <p>Cours de mathématiques</p>
                </div>
            </li>
            <li class="matter">
                <img alt="ROST" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">
                    <p>Recherche opérationnelle stochastique</p>
                    <p></p>
                </div>
            </li>
            <li class="matter">
                <img alt="TC1" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">
                    <p>Tests classiques 1</p>
                    <p>Cours de mathématiques</p>
                </div>
            </li>
            <li class="matter">
                <img alt="Finance quantitative moderne" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">
                    <p>Introduction à la finance quantitative moderne</p>
                    <p></p>
                </div>
            </li>


        </ul>
    </div>
</div>