<!DOCTYPE html>
<html>
<head>
    <title>Projets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="../../style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="../../style/main.less" />
    <link rel="stylesheet" type="text/css" href="../../style/cours/cours-langages-et-technologies.less" />
    <link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="slide active">
    <div id="content" class="cours">
        <ul>
            <li class="matter">
                <div class="matter-image default">
                </div>
                <div class="matter-texts">
                    <p class="matter-title">Droit des propriétés intellectuelles</p>
                    <p class="matter-description">Cours de droit sur les propriétés intellectuelles</p>
                </div>
            </li>
            <li class="matter">
                <div class="matter-image default">
                </div>
                <div class="matter-texts">
                    <p class="matter-title">Knowledge Management & Consulting Fundamentals</p>
                    <p class="matter-description"></p>
                </div>
            </li>
            <li class="matter">
                <div class="matter-image default">
                </div>
                <div class="matter-texts">
                    <p class="matter-title">Comportement du consommateur et logique d'usage des internautes</p>
                    <p class="matter-description"></p>
                </div>
            </li>
            <li class="matter">
                <div class="matter-image default">
                </div>
                <div class="matter-texts">
                    <p class="matter-title">Communication inter-personnelle</p>
                    <p class="matter-description">
                    </p>
                </div>
            </li>


        </ul>
    </div>
</div>
</body>