<!DOCTYPE html>
<html lang="fr" >
<head >
    <title >Cours</title >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />

</head >
<body >
<div class="slide active" >
    <div id="content" class="cours" >
        <ul >
            <li class="matter" >
                <div class="matter-image default" >
                    <img src="/resources/images/cours/RENAC/semaine-internationale.jpg" alt="semaine-internationale" >
                </div >
                <div class="matter-texts" >
                    <p class="matter-title" >Semaine internationale</p >

                    <p class="matter-description" >Semaine durant laquelle les étudiants doivent assister à des ateliers
                                                   et des conférences visant à faire découvrir des cultures venant du
                                                   monde entier </p >
                </div >
            </li >
            <li class="matter" >
                <div class="matter-image default" >
                    <img src="/resources/images/cours/RENAC/semaine-conferences.jpg" alt="semaine-conferences" >
                </div >
                <div class="matter-texts" >
                    <p class="matter-title" >Semaine de conférences technologiques</p >

                    <p class="matter-description" >
                        Traditionnellement, le mois d’octobre est celui des évènements entreprises à l’Epita. Durant une
                        semaine, les étudiants auront l'opportunité d'assister à de nombreuses conférences d'entreprises
                        abordant tous les sujets de l’IT.
                    </p >
                </div >
            </li >
            <li class="matter" >
                <div class="matter-image default" >
                    <img src="/resources/images/cours/RENAC/enac.jpg" alt="enac" >
                </div >
                <div class="matter-texts" >
                    <p class="matter-title" >Sports, actions de communication, vie associative et entreprenariale</p >

                    <p class="matter-description" >Matière pour laquelle l'étudiant devra récolter le plus de points
                                                   possibles en participant à des JPO ou aux acitvités
                                                   d'associations.</p >
                </div >
            </li >
            <li class="matter" >
                <div class="matter-image default" >
                    <img src="/resources/images/cours/RENAC/rush-entrepreneuriale.jpg" alt="rush-entrepreneuriale" >
                </div >
                <div class="matter-texts" >
                    <p class="matter-title" >Rush entrepreneurial</p >

                    <p class="matter-description" >Journée durant laquelle les étudiants de toute la promotion devront,
                                                   par groupe de quatre ou cinq, réaliser les spéicifcations d'un projet
                                                   pour une entreprise venue présenter un projet.</p >
                </div >
            </li >
            <li class="matter" >
                <div class="matter-image default" >
                    <img src="/resources/images/cours/RENAC/soutenance-fin-etudes2.jpg" alt="soutenance-fin-etudes" >
                </div >
                <div class="matter-texts" >
                    <p class="matter-title" >Soutenances de fin d'études (ING3)</p >

                    <p class="matter-description" >Les soutenances de fin d'étude sont l'occasion pour les étudiants MTI
                                                   d'avoir un aperçu des stages qui ont été réalisé par les étudiants de
                                                   la promotion précédant.</p >
                </div >
            </li >

        </ul >
    </div >
</div >
</body >
</html >