<!DOCTYPE html>
<html lang="fr" >
<head >
    <title >Cours 2nd semestre</title >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
</head >
<body >
<div class="slide active" >
    <div id="content" class="cours" >

        <div class="content" >
            <ul >
                <li class="matter" >
                    <div class="matter-image" >
                        <img src="/resources/images/cours/Second-semestre/microsoft-dotnet.png"
                             alt="microsoft-dotnet-WPF" />
                    </div >
                    <div class="matter-texts" >
                        <p class="matter-title" >Environnement .NET, WPF et développement d'interfaces</p >

                        <p class="matter-description" >Initiation à la technologie WPF, avec notamment l'utilisation des
                                                       animations et du framework MVVM Light.</p >
                    </div >
                </li >
                <li class="matter" >
                    <div class="matter-image default" >
                        <img src="/resources/images/cours/Second-semestre/plic.jpg" alt="plic" />
                    </div >

                    <div class="matter-texts" >
                        <p class="matter-title" >PLIC : Project Libre d'Innovation et de Communication</p >

                        <p class="matter-description" >Ce projet se poursuit jusqu'à la fin du premier semestre
                                                       d'ING3</p >
                    </div >
                </li >
                <li class="matter" >
                    <div class="matter-image default" >
                        <img src="/resources/images/cours/Second-semestre/mti-logo.png" alt="PFEE" />
                    </div >

                    <div class="matter-texts" >
                        <p class="matter-title" >PFEE : Project de Fin d'Etudes en Entreprise</p >

                        <p class="matter-description" >
                            Réalisation d'un projet au sein d'une entreprise en parallèle des
                            cours et des autres projets de l'année. Les technologies et les spécifications sont imposées
                            par l'entreprise.</p >
                    </div >
                </li >
                <li class="matter" >
                    <div class="matter-image" >
                        <img src="/resources/images/cours/Second-semestre/drupal.jpg" alt="CMS" />
                    </div >

                    <div class="matter-texts" >
                        <p class="matter-title" >Système de gestion de contenu</p >

                        <p class="matter-description" >Introduction à l'utilisation de CMS avec notamment des TP sur
                                                       Drupal</p >
                    </div >
                </li >
                <li class="matter" >
                    <div class="matter-image" >
                        <img src="/resources/images/cours/Second-semestre/img-design.jpg" alt="design-graphique" />
                    </div >
                    <div class="matter-texts" >
                        <p class="matter-title" >Design graphique et outils dédiés</p >

                        <p class="matter-description" >Ce cours est la suite de celui ayant été donné au second semestre
                                                       d'ING2.</p >
                    </div >
                </li >
                <li class="matter" >
                    <div class="matter-image default" >
                        <img src="/resources/images/cours/Second-semestre/data-warehouse.png" alt="data-warehouse" />
                    </div >

                    <div class="matter-texts" >
                        <p class="matter-title" >Data Warehouse et analyse OLAP</p >

                        <p class="matter-description" >
                            Introduction aux base de données décisionnelle utilisées pour
                            collecter, ordonner, journaliser et stocker des informations
                            provenant de base de données opérationnelles et fournir ainsi un
                            socle à l'aide à la décision en entreprise.
                        </p >
                    </div >
                </li >
                <li class="matter" >
                    <div class="matter-image" >
                        <img src="/resources/images/cours/Second-semestre/directx.jpg" alt="directx" />
                    </div >

                    <div class="matter-texts" >
                        <p class="matter-title" >Formation 3D/Direct X</p >

                        <p class="matter-description" >Introduction au développement 3D et Direct X.</p >
                    </div >
                </li >

            </ul >
        </div >
    </div >
</div >
</body >

</html >