<!DOCTYPE html>
<html lang="fr" >
<head >
    <title >Cours SG4</title >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
</head >
<body >
<div class="slide active" >
    <div id="content" class="cours" >
        <ul >
            <li class="matter" >
                <div class="matter-image default" >
                    <img src="/resources/images/cours/SG4/data-analysis.jpg" alt="data-analysis" >
                </div >
                <div class="matter-texts" >
                    <p class="matter-title" >Analyse de données</p >

                    <p class="matter-description hide768" >Cours de mathématiques</p >
                </div >
            </li >
            <li class="matter" >
                <div class="matter-image default" >
                    <img src="/resources/images/cours/SG4/ROST2.jpg" alt="ROST" >
                </div >
                <div class="matter-texts" >
                    <p class="matter-title" >Recherche opérationnelle stochastique</p >
                </div >
            </li >
            <li class="matter" >
                <div class="matter-image default" >
                    <img src="/resources/images/cours/SG4/maths-tableau.jpg" alt="maths-tableau" >
                </div >
                <div class="matter-texts" >
                    <p class="matter-title" >Tests classiques 1</p >

                    <p class="matter-description" >Cours de mathématiques</p >
                </div >
            </li >
            <li class="matter" >
                <div class="matter-image default" >
                    <img src="/resources/images/cours/SG4/ms-computationalfinance.jpg" alt="finance-quantitative" >
                </div >
                <div class="matter-texts" >

                    <p class="matter-title" >Introduction à la finance quantitative moderne</p >
                </div >
            </li >
        </ul >
    </div >
</div >
</body >