<!DOCTYPE html>
<html >
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
    <link rel="stylesheet" type="text/css" href="../../style/cours/cours-langages-et-technologies.less" />
    <link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
    <div class="content">
        <ul>
            <li class="matter" >
                <img alt="ANDO" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">
                    <p class="matter-title">Analyse de données</p>
                    <p class="matter-description">Cours de mathématiques</p>
                </div>
            </li>
            <li class="matter">
                <img alt="ROST" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">
                    <p class="matter-title">Recherche opérationnelle stochastique</p>
                </div>
            </li>
            <li class="matter">
                <img alt="TC1" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">
                    <p class="matter-title">Tests classiques 1</p>
                    <p class="matter-description">Cours de mathématiques</p>
                </div>
            </li>
            <li class="matter">
                <img alt="Finance quantitative" class="matter-image" src="" height="100" width="105">
                <div class="matter-texts">

                    <p class="matter-title">Introduction à la finance quantitative moderne</p>
                </div>
            </li>


        </ul>
    </div>
</div>
</body>