<!DOCTYPE html>
<html >
<head >
    <title >Projets</title >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="/style/pure-min.css" />
    <link rel="stylesheet/less" type="text/css" href="/style/main.less" />
</head >
<body >
<div class="slide active" >
    <div id="content" class="cours" >
        <ul >
            <li class="matter" >
                <div class="matter-image default" >
                    <img src="/resources/images/cours/INCM/interface-homme-machine.png" alt="interface-homme-machine" >
                </div >
                <div class="matter-texts" >
                    <p class="matter-title" >Ergonomie et Interactions Humains-Technologies</p >

                    <p class="matter-description" >Cette matière présente aux étudiants les concepts de base de
                                                   l'ergonomie.</p >
                </div >
            </li >
            <li class="matter" >
                <div class="matter-image default" >
                    <img src="/resources/images/cours/INCM/seo-target.jpg" alt="search-engine-optimization" >
                </div >
                <div class="matter-texts" >
                    <p class="matter-title" >Méthodes d'optimisation pour les moteurs de recherche</p >

                    <p class="matter-description" >Ce cours est une introduction au fonctionnement des moteurs de
                                                   recherches, du SEO et d'un crawler.</p >
                </div >
            </li >
            <li class="matter" >
                <div class="matter-image default" >
                    <img src="/resources/images/cours/INCM/specifier-piloter-projet-web.png"
                         alt="specifier-piloter-projet-web" >
                </div >
                <div class="matter-texts" >
                    <p class="matter-title" >Spécifier et piloter un projet web ou mobile</p >

                    <p class="matter-description" >Ce cours est une introduction aux concepts élémentaires du pilotage
                                                   d'un projet Web, avec l'utilisation d'outils comme les mindmappings,
                                                   la planification, la rédacion de spécifications fonctionnelles,
                                                   etc.</p >
                </div >
            </li >
            <li class="matter" >
                <div class="matter-image default" >
                    <img src="/resources/images/cours/INCM/design-graphique.png" alt="design-graphique" >
                </div >
                <div class="matter-texts" >
                    <p class="matter-title" >Design graphique et outils dédiés.</p >

                    <p class="matter-description" >Ce cours est principalement une initiation à l'utilisation de
                                                   Photoshop et aux concepts élémentaires de composition graphique.</p >
                </div >
            </li >
            <li class="matter" >
                <div class="matter-image default" >
                    <img src="/resources/images/cours/INCM/plic.jpg" alt="plic" >
                </div >
                <div class="matter-texts" >
                    <p class="matter-title" >PLIC - Projet Libre Innovant de Communication</p >

                    <p class="matter-description" >Matière dans le cadre de laquelle l'étudiant devra développer un
                                                   projet avec les technologies choisies parmis les projets d'admission,
                                                   en début d'année. Ce projet se réalise par groupe de trois.</p >
                </div >
            </li >

        </ul >
    </div >
</div >
</body >