.projects_1 {
  position: relative;
  height: 100%;
  p, h1, li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: bold;
  }

  li {
    margin-top: 15px;
  }

  .project-name {
    font-size: 20pt;
  }

  #socialmusic {
    float: right;
    width: 50%;
  }

  #happyhour {
    float: left;
    width: 50%;
  }

  #happyhour-container {
    float: left;
    width: 100%;
  }

  #mtimusic {
    float: left;
    width: 50%;
  }

  .logo_container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 300px;
    background: white;
    text-align: center;

    img {
      margin-top: 79px;
    }
  }
}