.projets-container {

  p, h1, li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: bold;
    line-height: 25px;
  }

  li {
    margin-top: 15px;
  }

  .project-name {
    font-size: 20pt;
  }

  .projets-container {
    background-color: #e69d02;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    color: white;
  }

  #text-container {
    height: 100%;
    width: 50%;
  }

  #images-div {
    height: 100%;
    width: 50%;
    float: right;
  }

}