.projets-container {
  background-color: #e69d02;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  color: white;
  font-size: 14px;

  p {
    margin-right: 20px;
    text-align: justify;
  }

  ul.text_list {
    margin-left: 20px;
    li {
      list-style: disc;
      padding-left: 15px;
    }
  }

@import "projets1"; @import "projets2"; @import "projets3"; @import "projets4"; @import "projets5";

}
